.conditions
    .conditions__carousel
        .owl-carousel.owl-theme#carouselConditions(data-owl-carousel="6")
            +conditionsCard({
                title: "1. Условия залога",
                desc: "Процентные ставки от 0,25% до 0,4% в день. Срок займа от 1 до 60 дней. Постоянные клиенты имеют бонусы и льготы."
                })
            +conditionsCard({
                title: "2. Условия выкупа залога",
                desc: "Выкуп можно произвести в любой день до окончания срока займа. Оплачиваются проценты только за фактические дни пользования займом."
                })
            +conditionsCard({
                title: "3. Условия продления залога",
                desc: "Не взимаем дополнительную плату за продление договора займа. Количество продлений не ограничено. Оплачиваются проценты только за фактические дни пользования займом."
                })
            +conditionsCard({
                title: "4. Определение подлинности, взвешивание",
                desc: "Для определения пробы золота используются специализированные устройства, щадящие реактивы и другие технологии, не повреждающие внешний вид изделия."
                })
            +conditionsCard({
                title: "5. Оценка камней и изделий с камнями",
                desc: "Оценка бриллиантов зависит от их веса и чистоты. Бриллианты оцениваются как в изделиях, так и отдельно (с сертификатом). Проводим индивидуальную оценку бриллиантов от 0.3 карата."
                })
            +conditionsCard({
                title: "Остались вопросы?",
                desc: "Оставьте заявку для консультации",
                link: "#"
                })