@import "../../assets/scss/utils/vars.scss";

.conditions__carousel {
    border: 1px solid green;
    .card-link {
        .card-link__desc {
            opacity: 1;
            transform: none;
        }
    }


    .owl-carousel {
        
        .owl-item {
            height: 300px;
        }

        @media(min-width: 768px) {
            .owl-stage-outer {
                display: flex;
            }
            .owl-stage {
                display: flex;
                flex-wrap: wrap;
            }
    
            .owl-item {
                // border: 1px solid red;
                float: none;
                flex: 0 1 33.33%;
                padding-left: 10px;
                padding-right: 10px;
                min-height: 250px;
                margin-right: 0 !important;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .owl-dots {
                display: none;
            }
        }
    }
}