@import "../../assets/scss/utils/vars.scss";

.table-gold__header {
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    color: $default-color;
    background-color: $primary-color;
    font-size: 24px;
}

.table-gold__grid {
    background-color: $primary-background-color;
    padding-top: 20px;
    padding-bottom: 10px;
}

.table-gold__row {
    display: flex;
    border: 1px solid $secondary-color;
    margin: 0 15px 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: $default-color;

    &--head {
        font-weight: bold;
        background-color: $primary-color;
        color: $default-color;
        .table-gold__value {
            border-color: $default-color;
        }
    }
}

.table-gold__name {
    // flex-grow: 3;
    flex: 0 1 50%;
    padding: 20px 10px;
}

.table-gold__value {
    // flex-grow: 1;
    flex: 0 1 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid $secondary-color;
}