.table-gold
    .table-gold__header Цена на золото
    .table-gold__grid
        .table-gold__row.table-gold__row--head
            .table-gold__name золото проба
            .table-gold__value 585
            .table-gold__value 750
        .table-gold__row
            .table-gold__name 1-Я КАТЕГОРИЯ РУБ/ГРАММ
            .table-gold__value 1951
            .table-gold__value 2502
        .table-gold__row
            .table-gold__name 2-Я КАТЕГОРИЯ РУБ/ГРАММ
            .table-gold__value 2028
            .table-gold__value 2600
        .table-gold__row
            .table-gold__name 3-Я КАТЕГОРИЯ РУБ/ГРАММ
            .table-gold__value 2162
            .table-gold__value 2771