.block-accept
    .block-accept__slider
        .block-double-carousel
            .owl-carousel.owl-theme#carouselAccept(data-owl-carousel="6")
                +card-link({
                    title: "Кольца",
                    background: "assets/img/img/card-link-1.jpg"
                    })
                +card-link({
                    title: "Цепи",
                    background: "assets/img/img/card-link-2.jpg"
                    })
                +card-link({
                    title: "Серьги",
                    background: "assets/img/img/card-link-3.jpg"
                    })
                +card-link({
                    title: "Бриллианты",
                    background: "assets/img/img/card-link-4.jpg"
                    })
                +card-link({
                    title: "Браслеты",
                    background: "assets/img/img/card-link-5.jpg"
                    })
                +card-link({
                    title: "Подвески",
                    background: "assets/img/img/card-link-6.jpg"
                    })
    .block-accept__aside
        .aside-list
            a.aside-list__item(href="#") Условия залога золота 
            a.aside-list__item(href="#") Контакты 
            a.aside-list__item(href="#") Цена на золото 
            a.aside-list__item(href="#") Цена на бриллианты 
            a.aside-list__item(href="#") Цена на серебро
            a.aside-list__item(href="#") Цена на платину и палладий