.block-accept
    .block-accept__slider
        .block-double-carousel
            .owl-carousel.owl-theme(data-owl-carousel)
                +card-link({
                    title: "Кольца",
                    background: "assets/img/img/kolco.png"
                    })
                +card-link({
                    title: "Цепи",
                    background: "assets/img/img/cepi.png"
                    })
                +card-link({
                    title: "Серьги",
                    background: "assets/img/img/sergi.png"
                    })
                +card-link({
                    title: "Бриллианты",
                    background: "assets/img/img/brillianty.png"
                    })
                +card-link({
                    title: "Браслеты",
                    background: "assets/img/img/braslet.png"
                    })
                +card-link({
                    title: "Подвески",
                    background: "assets/img/img/podveski.png"
                    })
    .block-accept__aside
        .aside-list
            a.aside-list__item(href="article.html") Условия залога золота 
            a.aside-list__item(href="contacts.html") Контакты 
            a.aside-list__item(href="article.html") Цена на золото 
            a.aside-list__item(href="article.html") Цена на бриллианты 
            a.aside-list__item(href="article.html") Цена на серебро
            a.aside-list__item(href="article.html") Цена на платину и палладий