.block-accept
    .block-accept__aside
        .aside-list
            a.aside-list__item(href="#") Условия залога золота 
            a.aside-list__item(href="#") Контакты 
            a.aside-list__item(href="#") Цена на золото 
            a.aside-list__item(href="#") Цена на бриллианты 
            a.aside-list__item(href="#") Цена на серебро
            a.aside-list__item(href="#") Цена на платину и палладий
    .block-accept__slider