@import "../../assets/scss/utils/vars.scss";

.block-accept {
    display: flex;
    // border: 1px solid yellow;
    flex-direction: column;

    @media(min-width: 768px) {
        flex-direction: row;
    }
}

.block-accept__aside {
    // background-color: red;
    flex: 0 1 30%;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    @media(min-width: 768px) {
        order: -1;
    }
}

.aside-list {
    border-radius: 10px;
    overflow: hidden;
    background-color: yellow;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.aside-list__item {
    flex-grow: 1;
    // display: block;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    text-decoration: none;
    background-color: $primary-color;
    color: $default-color;
    padding: 20px;
}

.block-accept__slider {
    flex: 1 1 70%;

   
    // border: 1px solid blue;
}

.block-accept-carousel {
    // border: 1px solid green;
    .owl-carousel {
        
        .owl-item {
            height: 300px;
        }

        @media(min-width: 768px) {
            .owl-stage {
                display: flex;
                flex-wrap: wrap;
            }
    
            .owl-item {
                // border: 1px solid red;
                float: none;
                flex: 0 1 33.33%;
                padding-left: 20px;
                // padding-right: 10px;
                min-height: 250px;
                margin-right: 0 !important;
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .owl-dots {
                display: none;
            }
        }
    }
}