mixin banner(options)
    .banner(style="background-image: url("+options.background+")")
        .banner__container
            .banner__head
                .banner__title У НАС УЖЕ 12 ЛОМБАРДОВ
                .banner__subtitle ВЫБЕРИТЕ БЛИЖАЙШИЙ К ВАМ
                .banner__icon
                    i.zmdi.zmdi-pin
            .banner__button
                a.banner__link(href="#") Выбрать ломбард