@import "../../assets/scss/utils/vars.scss";

.banner {
    // border: 1px solid red;
    // height: 1px;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__content {
    width: 100%;
    height: 100%;
    background-color: $background-opacity-color;
}
.banner__container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}
.banner__head {
    color: $default-color;
    position: relative;
    margin: 0 auto;
    padding: 30px;
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 70px;
}

.banner__icon {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,60%);
    z-index: 20;
    font-size: 2em;
}

.banner__button {
    display: flex;
    justify-content: center;
}
.banner__link {
    // text-decoration: none;
    // display: inline-block;
    // background-color: $primary-color;
    // padding: 20px;
    // font-size: 1.5em;
    // color: $default-color;
    // border: 2px solid $default-color;
    // transition: all .4s ease;
    // &:hover {
    //     background-color: $primary-background-color;
    //     color: $dark-color;
    // }
}
