mixin banner(options)
    .banner(style="background-image: url("+options.background+")")
        .banner__container
            .banner__head
                .banner__title #{options.title}
                .banner__subtitle #{options.subtitle}
                .banner__icon
                    i.zmdi.zmdi-pin
            .banner__button
                a.banner__link(href=options.link) #{options.button}