//- .slider
    .slider__container
        .slider__item
            .slider__img(style="background-image:url(./assets/img/img/slider-1.jpg)")
        .slider__item
            .slider__img(style="background-image:url(./assets/img/img/slider-2.jpg)")
        .slider__item
            .slider__img(style="background-image:url(./assets/img/img/slider-3.jpg)")
        .slider__item
            .slider__img(style="background-image:url(./assets/img/img/slider-4.jpg)")
.slider(data-slider)
    .slider__left-arrow.slider-icon-wrapper(data-arrow-left)
        <i class="zmdi zmdi-chevron-left"></i>
    .slider__right-arrow.slider-icon-wrapper(data-arrow-right)
        <i class="zmdi zmdi-chevron-right"></i>
    .slider__wrapper(data-slider-wrapper)
        .slider__item(data-slider-item)
            .slider__item-bg(style="background-image: url(./assets/img/img/slider-1.jpg);")
            //- .slider__item-text.slider__item-text--slide-3
                //- p.slider__item-title New Year, Good Skin.
                //- p.slider__item-desc Safer regimens. Real results. Get started right <br> with a gift on us!
        .slider__item(data-slider-item)
            .slider__item-bg(style="background-image: url(./assets/img/img/slider-2.jpg);")
            //- .slider__item-text.slider__item-text--slide-1
                p.slider__item-title Essential Oils
                p.slider__item-desc 100% pure, raw, unrefined extracts are the secret <br> to a long life
        .slider__item(data-slider-item)
            .slider__item-bg(style="background-image: url(./assets/img/img/slider-3.jpg);")
            //- .slider__item-text.slider__item-text--slide-2
                p.slider__item-title New Spa Products
                p.slider__item-desc Our natural products safeguard your overall health today,<br> tomorrow and forever.
        .slider__item(data-slider-item)
            .slider__item-bg(style="background-image: url(./assets/img/img/slider-4.jpg);")
            //- .slider__item-text.slider__item-text--slide-3
                p.slider__item-title New Year, Good Skin.
                p.slider__item-desc Safer regimens. Real results. Get started right <br> with a gift on us!
        //- .slider__item(data-slider-item)
        //-     .slider__item-bg(style="background-image: url(./assets/img/img/slider-1.jpg);")