@import "../../assets/scss/utils/vars.scss";


.evaluation {
    // background-color: $primary-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.evaluation__fade {
    height: 100%;
    width: 100%;
    // background-color: $background-opacity-color;
    background-color: $ira-bg-color-80;
}

.evaluation__title {
    text-align: center;
    color: $default-color;
    font-size: 2em;
    padding-bottom: 20px;
    font-weight: bold;
}

.evaluation__wrapper {
    display: flex;
}

.evaluation__container {
    margin: 0 auto;
    padding: 30px;
}

.eval-form__item {
    padding: 15px;
    color: $default-color;
}

.eval-form__top {
    display: flex;
}

.eval-form__input-wrapper {
    flex-grow: 1;
}

.eval-form__textarea {
    flex-grow: 1;
    .eval-form__item {
        height: 100%;
    }
    textarea {
        height: 100%;
        border-radius: 10px;
    }
}

.eval-form__bottom {
    display: flex;
    flex-direction: column;

}
.eval-form__button {
    align-self: center;
    width: 200px;
}