.evaluation
    .evaluation__title Быстрая оценка
    .evaluation__form
        form.eval-form(action="")
            .eval-form__input
                
            .eval-form__input
            .eval-form__textarea
            .eval-form__load
            .eval-form__check
            .eval-form__button

