@import "../../assets/scss/utils/vars.scss";

.img-card {
    // height: 300px;
    border-radius: 10px;
    border: 1px solid $background-opacity-color;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
