@import "../../assets/scss/utils/vars.scss";

.banner-slider {
    // background-color: $secondary-color;
    .owl-nav  {
        .owl-prev,.owl-next {
            transform: translateY(-50%);
        }
    }
}

.banner-slider__container {
    max-height: 100%;
}

.banner-slider__item {
    height: 200px;
    position: relative;
    width: 100%;
    @media (min-width: 768px) {
        height: 300px;
    }
}
.banner-slider__item-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.owl-nav {

    span {
        transition: box-shadow .4s ease;
        
        &:hover {
            box-shadow: $box-shadow-30;
        }
    }
    
}

.banner-slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $default-color;
    font-size: 1em;
    text-align: center;
    padding: 40px 10px;
    border-radius: 10px;
    line-height: 1.7;
    background-color: $secondary-color-80;

    @media (min-width: 768px) {
        font-size: 1.5em;
        padding: 50px 20px;
    }
}
