mixin bannerSlider(options)
    .banner-slider
        .banner-slider__container.container
            .owl-carousel.owl-theme(data-banner-slider)
                .banner-slider__item
                    img.banner-slider__item-img(src="assets/img/img/card-link-1.jpg")
                .banner-slider__item
                    img.banner-slider__item-img(src="assets/img/img/card-link-2.jpg")
                .banner-slider__item
                    img.banner-slider__item-img(src="assets/img/img/card-link-3.jpg")
                .banner-slider__item
                    img.banner-slider__item-img(src="assets/img/img/card-link-4.jpg")