mixin bannerSlider(options)
    .banner-slider
        .banner-slider__container
            .owl-carousel.owl-theme(data-banner-slider)
                each item in options.array
                    .banner-slider__item
                        .banner-slider__item-text
                            .banner-slider-text
                                .banner-slider-text__subtitle #{item.pretitle}
                                .banner-slider-text__title #{item.title}
                                .banner-slider-text__subtitle #{item.subtitle}
                        img.banner-slider__item-img(src=item.img)