nav.pagination.navigation
    h2 Навигация по записям
    .nav-links
        a.prev.page-numbers(href="#") Назад
        a.page-numbers(href="#") 1
        span.page-numbers.current 2
        a.page-numbers(href="#") 3
        span.page-numbers.dots …
        a.page-numbers(href="#") 10
        a.next.page-numbers(href="#") Далее