.img-slider
    .img-slider__main
        .owl-carousel.owl-theme#carouselImg(data-img-slider)
            .img-slider__item
                img.img-slider__item-img(src="assets/img/img/card-link-1.jpg")
            .img-slider__item
                img.img-slider__item-img(src="assets/img/img/card-link-2.jpg")
            .img-slider__item
                img.img-slider__item-img(src="assets/img/img/card-link-3.jpg")
            .img-slider__item
                img.img-slider__item-img(src="assets/img/img/card-link-4.jpg")