@import "../../assets/scss/utils/vars.scss";

.input {
    padding: 15px;
    background-color: $default-color;
    border: none;
    border-radius: 10px;
    // border: 1px solid $secondary-color;
    transition: all .4s ease;
    width: 100%;

    &:focus {
        outline: none;
        // box-shadow: $box-shadow;
    }
    &--danger {
        // background-color: $danger-color-light;
    }
    &--readonly {
        &:focus {
            box-shadow: none;
        }
    }
    &--focused {
        // box-shadow: $box-shadow;
    }
}

.label {
    position: relative;
    
    input, select {
        margin-top: 10px;
        // padding-right: 45px;
    }
    select {
        position: relative;
        // appearance: none;
    }
    select:default {
        color: red;
     }
}

.label__inner-text {
    position: absolute;
    bottom: -8px;
    right: 0px;
    padding-right: 10px;
    background-color: #fff;
    width: 37px;
    height: 26px;
    i {
        color: #000;
        position: absolute;
        top: -4px;
        right: 15px;
        font-size: 2em;
        color: $neutral-secondary-color;
    }
}