main.page
    .page__container.container
        .page__row
            .page__text
                p Сеть ломбардов — это ломбарды нового поколения. Мы не занимаемся скупкой краденых вещей и предлагаем низкие процентные ставки. Одной из основных своих задач мы видим развитие цивилизованного ломбардного бизнеса в нашей стране.
                p Работа сети ломбардов ориентирована на различных клиентов: от среднего класса до бизнес элиты. Мы стараемся оказать максимальную финансовую помощь каждому. Ни один из ломбардов не занимается заработком на невыкупленных залогах, а при оценке ювелирных изделий оценивается не только драгоценный металл и камни, но и качество самого украшения, его марка. Если вы хотите получить объективную оценку вашего залога, обращайтесь в ломбарды.
                p Мы стараемся быть ближе к нашим клиентам, поэтому салоны ломбардов работают сразу в большинстве районов Санкт-Петербурга. В ближайшее время планируется открытие еще нескольких дополнительных салонов.
                p Обратившись в любой из наших ломбардов, вы можете рассчитывать на высокий уровень сервиса, внимательное отношение к вашей проблеме и, конечно же, на выгодные условия получения займа.
                p Если в качестве залога вы хотите оставить эксклюзивную вещь (швейцарские часы, ювелирные украшения известных брендов и т.п.), посетите наш салон на Владимирском пр., д. 15. Здесь ваш залог будет оценен максимально точно, и вы сможете получить займ на особых условиях.
            .page__images
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/lombard.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/sertifikat.jpg",
                    })
                