main.page
    .page__wide-block.page__wide-block--top-sticky
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "Займ по залог",
            subtitle: "ПТС или автомобиля",
            button: "Оставить заявку",
            link: "#",
            icon: "",
            view: "subtop",
            advantages:[
                "Ставка от 2% в месяц",
                "До 80% от стоимости авто",
                "Наличные за 30 минут"
            ]
            })
    .page__container.container
        .page__title Основные виды займов
        .page__row
            .block-flex-row
                .block-flex-row__item
                    +conditionsCard({
                        title: "Под залог ПТС",
                        desc: "",
                        list: [
                            {
                                icon: "check",
                                text: "Автомобиль остается в вашем распоряжении",
                            },
                            {
                                icon: "check",
                                text: "Вы передаете нам только ПТС",
                            },
                            {
                                icon: "check",
                                text: "Ставка от 2,5 %",
                            },
                            {
                                icon: "check",
                                text: "Вы получите до 70% стоимости вашего автомобиля",
                            },
                        ]
                    })
                    //- +conditionsCard({
                    //-     title: "Под залог ПТС",
                    //-     desc: "",
                    //-     list: [
                    //-         "Автомобиль остается в вашем распоряжении",
                    //-         "Вы передаете нам только ПТС",
                    //-         "Ставка от 2,5 %",
                    //-         "Вы получите до 70% стоимости вашего автомобиля",
                    //-         ]
                    //- })
                .block-flex-row__item
                    +conditionsCard({
                        title: "Автоломбард",
                        desc: "",
                        list: [
                            {
                                icon: "check",
                                text: "На период займа Ваша машина остается на нашей автостоянке",
                            },
                            {
                                icon: "check",
                                text: "Автомобиль застрахован и хранится на охраняемой стоянке",
                            },
                            {
                                icon: "check",
                                text: "Ставка от 2% в месяц",
                            },
                            {
                                icon: "check",
                                text: "До 80 % стоимости Вашего автомобиля",
                            },
                        ]
                    })
    .page__wide-block
        .wide-block(style="background-image: url(src/assets/img/img/card-link-2.jpg)")
            .wide-block__fade
                .wide-block__wrapper.container
                    .wide-block__container
                        include ../../blocks/calculator-auto/calculator-auto.pug
    .page__container.container
        .page__title Основные условия
        .page__row
            include ../../blocks/conditions/conditions.pug
        .page__title Как быстро получить займ
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme#carouselSteps(data-owl-carousel)
                    +card-link({
                        title: "Оставьте заявку или позвоните по телефону",
                        desc: "1",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "step-auto"
                        })
                    +card-link({
                        title: "Получите бесплатную оценку вашего авто по телефону, а также онлайн",
                        background: "assets/img/img/card-link-2.jpg",
                        desc: "2",
                        class: "step-auto"
                        })
                    +card-link({
                        title: "Приезжаете к нам в офис и получаете займ наличными за 30 минут",
                        background: "assets/img/img/card-link-3.jpg",
                        desc: "3",
                        class: "step-auto"
                        })
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "Закажите бесплатный звонок",
            subtitle: "Менеджер перезвонит вам в течении 10 минут",
            button: "Заказать звонок",
            link: "#",
            icon: "zmdi-phone-in-talk"
            })
    .page__container.container
        .page__title Примеры займов
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme#carouselExamples(data-owl-carousel="3")
                    +card-link({
                        title: "Land Rover Range Rover Evoque",
                        subtitle: "2012г. пробег 99 000км",
                        subtitle2: "Выдано 890 000 руб.",
                        background: "assets/img/img/card-link-2.jpg",
                        class: "example"
                        })
                    +card-link({
                        title: "Mersedes-Benz G-class",
                        subtitle: "2015 г. пробег 46 000 км",
                        subtitle2: "Выдано 1 800 000 руб.",
                        background: "assets/img/img/card-link-2.jpg",
                        class: "example"
                        })
                    +card-link({
                        title: "Peugeot 206",
                        subtitle: "2010 г. пробег 187 000 км",
                        subtitle2: "Выдано 100 000 руб.",
                        background: "assets/img/img/card-link-2.jpg",
                        class: "example"
                        })
        .page__title Контакты
        .page__row
            include ../../blocks/map/map.pug
        .page__row
            .contacts-list
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Владимирском проспекте, 15',
                        address: 'Санкт-Петербург, Владимирский пр. д.15, корп.а, ТЦ "Платформа" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 123-31-89',
                        email: 'vladimirsky@mail.ru',
                        metro: 'метро Владимирская',
                        x: '59.927423',
                        y: '30.348297'
                        })
        .page__title О компании
        .page__row
            .page__text
                p Сеть ломбардов — это ломбарды нового поколения. Мы не занимаемся скупкой краденых вещей и предлагаем низкие процентные ставки. Одной из основных своих задач мы видим развитие цивилизованного ломбардного бизнеса в нашей стране.
                p Работа сети ломбардов ориентирована на различных клиентов: от среднего класса до бизнес элиты. Мы стараемся оказать максимальную финансовую помощь каждому. Ни один из ломбардов не занимается заработком на невыкупленных залогах, а при оценке ювелирных изделий оценивается не только драгоценный металл и камни, но и качество самого украшения, его марка. Если вы хотите получить объективную оценку вашего залога, обращайтесь в ломбарды.
                p Мы стараемся быть ближе к нашим клиентам, поэтому салоны ломбардов работают сразу в большинстве районов Санкт-Петербурга. В ближайшее время планируется открытие еще нескольких дополнительных салонов.
                p Обратившись в любой из наших ломбардов, вы можете рассчитывать на высокий уровень сервиса, внимательное отношение к вашей проблеме и, конечно же, на выгодные условия получения займа.
                p Если в качестве залога вы хотите оставить эксклюзивную вещь (швейцарские часы, ювелирные украшения известных брендов и т.п.), посетите наш салон на Владимирском пр., д. 15. Здесь ваш залог будет оценен максимально точно, и вы сможете получить займ на особых условиях.
        .page__row
            .page__images
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/card-link-1.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/card-link-2.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/card-link-3.jpg",
                    })
                .page__images-item
                    +imgCard({
                        background: "assets/img/img/card-link-4.jpg",
                    })
        .page__row
            +dropdownDesc([
                {
                    title: "быстрое получение денег под залог автомобиля",
                    desc: [
                        "Самый простой способ получить наличные в день обращения – это прийти в золотой ломбард и сдать свои украшения. Плюс этого заведения состоит в том, что впоследствии памятные вещицы можно выкупить обратно. Именно эти два фактора и приводят клиентов в данное кредитное учреждение."
                    ]
                },
                {
                    title: "Как работает кредит под залог автомобиля?",
                    desc: [
                        "Если вы хотите сдать в ломбард СПб золото, стоимость его будет определять эксперт. Существует два типа учреждений.",

                        "1. Все изделия принимаются как лом, независимо от их ювелирной ценности. В этом случае даже ваши любимые сережки будут оценены просто по цене за грамм драгоценного металла. А камни и вовсе не берутся в расчет. Первым делом эксперт определяет качество материала, используя для этого специальные реактивы и высокоточные весы. Зачастую случается, что владелец украшения и сам не подозревал о реальной ценности предмета. Иногда она оказывается гораздо ниже той цены, по которой изделие было приобретено. Далее вещь взвешивается, а затем специалист озвучивает сумму, которую можно за нее выручить.",
                        "2. Цена на золото в ломбардах СПб может быть выше, если заведение оценивает не только качество металла, но и ювелирную обработку. После всех манипуляций с определением пробы и взвешивание эксперт начинает внимательно рассматривать украшение для определения его реальной стоимости. Он оценивает тонкость работы, наличие драгоценных камней также будет влиять на окончательную сумму.",
                        "Но не стоит рассчитывать на слишком большой куш. Максимум, что вы сможете получить за свои цепочки и колечки – это 70% от их настоящей цены. А вообще примерно прикинуть цену на золото в ломбарде сегодня и сумму выручки от сдачи можно следующим образом. Умножьте вес изделия на ставку Центробанка и поделите пополам. Оставшаяся сумма необходима предприятию для покрытия собственных издержек и получения прибыли. Не забудьте и про процент, который нужно будет уплатить, когда вы будете забирать свои вещи обратно.",
                    ]
                },
                {
                    title: "Как получить заём под залог ПТС?",
                    desc: [
                        "Когда вы сдаете вещь в ломбард, желательно сразу определиться с вопросом: планируете вы ее выкупать или нет. От этого зависят ваши дальнейшие действия. Если имущество вам не нужно, то проще сразу сдать золото в ломбард на продажу и оформить соответствующий договор.",
                        "Если цепочка или браслет дороги вам как память, то в будущем их можно выкупить. Чем меньше срок, на который вы отдаете украшения в залог, тем выгоднее будет для вас сделка. По окончании залогового периода вы должны прийти в кредитную организацию, предоставить документы и залоговую квитанцию, выплатить выданную ранее сумму плюс проценты. После этого вам отдадут ювелирку. Если вы не пришли в назначенное время, срок хранения продлевается на месяц – это определено на законодательном уровне. По истечении месяца компания сдает вещь в магазин, который обычно находится здесь же. Так что все желающие могут купить золото в ломбарде, ведь оно выставлено на всеобщее обозрение. Некоторые фирмы продают невыкупленное имущество с аукциона, еще один способ реализации – отправка их на ювелирный завод для переплавки.",

                    ]
                },
                
            ])