main.page
    .page__container.container
        .page__row
            .articles
                .articles__item
                    +article-link({
                        title: "Как ",
                        desc: "Где ",
                    })
                .articles__item
                    +article-link({
                        title: "Как найти хороший ломбард и где продать золото",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или.. Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        title: "Как найти хороший ломбард ",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        title: "Как найти хороший ломбард",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
            .pagination-wrapper
                include ../../blocks/pagination/pagination.pug