main.page
    .page__container.container
        .page__title Мужские
        .page__row
            .block-grid
                .block-grid__item
                    .block-grid__resized-container
                        +card-link({
                            title: "Мужские",
                            subtitle: "65 000 ₽",
                            background: "assets/img/img/card-link-3.jpg",
                            class: "example",
                            link: "#"
                            })
                .block-grid__item
                    .block-grid__resized-container
                        +card-link({
                            title: "Мужские",
                            subtitle: "65 000 ₽",
                            background: "assets/img/img/card-link-3.jpg",
                            class: "example",
                            link: "#"
                            })
                .block-grid__item
                    .block-grid__resized-container
                        +card-link({
                            title: "Мужские",
                            subtitle: "65 000 ₽",
                            background: "assets/img/img/card-link-3.jpg",
                            class: "example",
                            link: "#"
                            })
                .block-grid__item
                    .block-grid__resized-container
                        +card-link({
                            title: "Мужские",
                            subtitle: "65 000 ₽",
                            background: "assets/img/img/card-link-3.jpg",
                            class: "example",
                            link: "#"
                            })
                .block-grid__item
                    .block-grid__resized-container
                        +card-link({
                            title: "Мужские",
                            subtitle: "65 000 ₽",
                            background: "assets/img/img/card-link-3.jpg",
                            class: "example",
                            link: "#"
                            })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                //- .block-grid__item
                //-     +card-link({
                //-         title: "Мужские",
                //-         subtitle: "65 000 ₽",
                //-         background: "assets/img/img/card-link-3.jpg",
                //-         class: "example",
                //-         link: "#"
                //-         })
                