main.page
    .page__container.container
        .page__title Адреса отделений ломбарда
        .page__row
            include ../../blocks/map/map.pug
        .page__row
            .contacts-list
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Владимирском проспекте, 15',
                        address: 'Санкт-Петербург, ул Одоевского, д.27, корп.а, ТЦ "Платформа" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 407-31-89',
                        })
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Владимирском проспекте, 15',
                        address: 'Санкт-Петербург, ул Одоевского, д.27, корп.а, ТЦ "Платформа" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 407-31-89',
                        })
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Владимирском проспекте, 15',
                        address: 'Санкт-Петербург, ул Одоевского, д.27, корп.а, ТЦ "Платформа" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 407-31-89',
                        })
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Владимирском проспекте, 15',
                        address: 'Санкт-Петербург, ул Одоевского, д.27, корп.а, ТЦ "Платформа" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 407-31-89',
                        })
        