main.page
    .page__container.container
        .page__title Адреса отделений ломбарда
        .page__row
            include ../../blocks/map/map.pug
        .page__row
            .contacts-list
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Владимирском проспекте, 15',
                        address: 'Санкт-Петербург, Владимирский пр. д.15, корп.а, ТЦ "Платформа" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 123-31-89',
                        email: 'vladimirsky@mail.ru',
                        metro: 'метро Владимирская',
                        coordinates: "59.927423, 30.348297",
                        href: 'contact.html'
                        })
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Большая Зеленина улица, 13',
                        address: 'Санкт-Петербург, Большая Зеленина улица, 13',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 456-31-89',
                        email: 'chkalovskaya@mail.ru',
                        metro: 'метро Чкаловская',
                        coordinates: "59.961349, 30.292622",
                        href: 'contact.html'
                        })
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Заневский проспект, 71к2',
                        address: 'Санкт-Петербург, Заневский проспект, 71к2, ТЦ "Заневский каскад" Цокольный этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 789-31-89',
                        email: 'zanevskiy@mail.ru',
                        metro: 'метро Ладожская',
                        coordinates: "59.933615, 30.439038",
                        href: 'contact.html'
                        })
                .contacts-list__item
                    +contactCard({
                        title: 'Салон-Ломбард на Гражданский проспект, 41к2',
                        address: 'Санкт-Петербург, Гражданский проспект, 41к2, ТЦ "Академ Парк" 1 этаж',
                        time: 'с 08:00 до 20:00',
                        phone: '8 (812) 631-31-89',
                        email: 'akadempark@mail.ru',
                        metro: 'метро Академическая',
                        coordinates: "60.012215, 30.398633",
                        href: 'contact.html'
                        })
        