main.page
    .page__container.container
        .page__title Акции
        .page__row
            .articles
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                    +article-link({
                        img: "assets/img/img/article.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
            .pagination-wrapper
                include ../../blocks/pagination/pagination.pug