main.page
    .page__container.container
        .page__row
            .block-double-carousel.block-double-carousel--items-6
                .owl-carousel.owl-theme#carouselAdvantage(data-owl-carousel="6")
                    +card-link({
                        title: "Принимаем часы от 10 000 рублей до 10 000 000 рублей",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Высокая оценка! До 70 % стоимости",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Ставка от 0,25 %",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Наличные деньги за 10 минут",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Возврат займа в любой день",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Оплата % только за фактические дни",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
        .page__title Мы принимаем в ломбард
        .page__row
            .block-flex-row
                +card-link({
                    title: "Мобильные телефоны",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Ноутбуки",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Планшеты",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "У нас уже 12 ломбардов",
            subtitle: "Выберите ближайший к вам",
            button: "Выбрать ломбард",
            link: "#",
            icon: "zmdi-pin"
            })
    .page__container.container
        .page__title 3 способа бесплатной оценки вашей электроники и техники
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme(data-owl-carousel="3")
                    +conditionsCard({
                        title: "1. Специалист",
                        desc: "Связаться с нашим специалистом удобным для вас способом.",
                        list: [
                            {
                                icon: "account-box-o",
                                text: "Игорь",
                            },
                            {
                                icon: "phone",
                                text: "1234567",
                            },
                            {
                                icon: "email",
                                text: "mail@mail.ru",
                            },
                            {
                                icon: "whatsapp",
                                text: "1234567",
                            },
                            {
                                icon: "time-interval",
                                text: "с 08:00 - до 22:00",
                            },
                        ]
                        })
                    +conditionsCard({
                        title: "2. Быстрая оценка",
                        desc: 'Воспользоваться формой "Быстрой оценки" на нашем сайте.',
                        link: "#"
                        })
                    +conditionsCard({
                        title: "3. Посетить Салон-Ломбард",
                        desc: "Посетить Салон-Ломбард Часов. Специалист ломбарда произведет оценку и выдаст Вам займ за 10 минут.",
                        list: [
                            {
                                icon: "pin",
                                text: "Владимирский пр. 15"
                            }
                        ]
                        })
        .page__title 3 шага к получению денег
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme#carouselSteps(data-owl-carousel="3")
                    +card-link({
                        title: "Посетить ближайший ломбард",
                        desc: "1",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "step"
                        })
                    +card-link({
                        title: "Оценить драгоценности",
                        background: "assets/img/img/card-link-2.jpg",
                        desc: "2",
                        class: "step"
                        })
                    +card-link({
                        title: "Получить деньги",
                        background: "assets/img/img/card-link-3.jpg",
                        desc: "3",
                        class: "step"
                        })
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "Оставьте нам свою заявку",
            subtitle: "Мы свяжемся с вами в течение 10-ти минут",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-time"
            })
    .page__container.container
        .page__title Что вы должны знать при получении займа
        .page__row
            include ../../blocks/conditions/conditions.pug
        .page__title Примеры выданных займов
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme#carouselExamples(data-owl-carousel="3")
                    +card-link({
                        title: "Вес — 31,31г.",
                        subtitle: "Сумма оценки — 11 300 руб.",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "example"
                        })
                    +card-link({
                        title: "Вес — 5.58г.",
                        subtitle: "Сумма оценки — 141 300 руб.",
                        background: "assets/img/img/card-link-2.jpg",
                        class: "example"
                        })
                    +card-link({
                        title: "Вес — 11,53г.",
                        subtitle: "Сумма оценки — 41 300 руб.",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example"
                        })
    .page__wide-block
        include ../../blocks/evaluation/evaluation.pug
    .page__container.container
        .page__row
            .block-double-carousel.block-double-carousel--items-8
                .owl-carousel.owl-theme(data-owl-carousel="8")
                    +card-link({
                        title: "Шаговая доступность от метро",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Бесплатная оценка",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Карты лояльности",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Неограниченная сумма займа",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Опытные эксперты геммологи",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Конфиденциальность данных",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Частичное погашение займа",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Работаем ежедневно и без выходных",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
        .page__row
            +dropdownDesc([
                {
                    title: "Надежный ломбард техники в Санкт-Петербурге",
                    desc: [
                        "Благодаря наличию ломбардов и других подобных организаций можно быстро получить крупную сумму денег на собственные нужды. Но для этого нужно оставить в залог какое-либо имущество. Одним из самых простых способов быстро получить деньги является сдача в ломбард бытовой техники и цифровой электроники в СПб. Это необязательно должны быть новые модели, купленные недавно. Можно принести старые вещи, которые давно не используются и только пылятся в шкафах и занимают место."
                    ]
                },
                {
                    title: "Принцип работы",
                    desc: [
                        "Работа всех подобных организаций строится по одному принципу.",

                        "1. Вы приносите вещь, за которую хотите получить деньги.",
                        "2. Приемщик оценивает принесенные предметы и называет сумму, которую может предложить за них.",
                        "3. Вы заключаете сделку с подписанием официальных документов.",
                        "Выгоды в этом случае получают оба партнера. Вам будут выданы денежные средства, а кредитная организация заработает на процентах, которые Вы оплатите, когда будете забирать свои вещи обратно. Вся техника застрахована и отвезена на надежное хранение в сейфовую ячейку. Если заемщик впоследствии не сможет выкупить технику из ломбарда на Просвещении или любого другого, то все права собственности на нее переходят фирме. Вот почему около каждого такого заведения имеется собственный магазинчик, где можно дешево купить отличный товар.",
                    ]
                },
                {
                    title: "Плюсы обращения",
                    desc: [
                        "Когда вы сдаете вещь в ломбард, желательно сразу определиться с вопросом: планируете вы ее выкупать или нет. От этого зависят ваши дальнейшие действия. Если имущество вам не нужно, то проще сразу сдать золото в ломбард на продажу и оформить соответствующий договор.",
                        "Если цепочка или браслет дороги вам как память, то в будущем их можно выкупить. Чем меньше срок, на который вы отдаете украшения в залог, тем выгоднее будет для вас сделка. По окончании залогового периода вы должны прийти в кредитную организацию, предоставить документы и залоговую квитанцию, выплатить выданную ранее сумму плюс проценты. После этого вам отдадут ювелирку. Если вы не пришли в назначенное время, срок хранения продлевается на месяц – это определено на законодательном уровне. По истечении месяца компания сдает вещь в магазин, который обычно находится здесь же. Так что все желающие могут купить золото в ломбарде, ведь оно выставлено на всеобщее обозрение. Некоторые фирмы продают невыкупленное имущество с аукциона, еще один способ реализации – отправка их на ювелирный завод для переплавки.",

                    ]
                },
                
            ])