main.page
    .page__container.container
        h1.page__title Ломбард вещей различной ценности.
        .page__row
            p.page__desc.fw-bold Высокая оценка, минимальный процент.
            p.page__desc.fw-bold Наличные деньги за 10 минут.
            .page__text 
                    p Ломбард  является финансовым учреждением, которое выдает краткосрочные займы. Ломбард  осуществляет свою деятельность на основании Федерального закона и выдает займы под залог ценных вещей, различной стоимости. Мы принимаем ценные предметы, выдаем займы (кредиты) на выгодных условиях. Мы несем полную ответственность за те вещи, которые Вы к нам приносите, и все хранящиеся у нас вещи застрахованы в соответствии с законодательством РФ. У нас трудятся профессиональные, грамотные оценщики, готовые предложить Вам адекватную цену за принесенные вещи.
            p.page__desc.fw-bold Что можно принести в наш ломбард вещей в качестве залога?
            .page__text 
                    p Вы можете принести все что угодно, главное, чтобы ваша вещь имела финансовую ценность и была в хорошем состоянии.
                    p Если Вам потребовались срочно деньги, и у Вас есть качественные вещи, мы с радостью поможем Вам.
                    p Ломбард «Доверие» принимает следующие виды и группы товаров:
                    p 1. Антиквариат
                    p 2. Монеты
                    p 3. Иконы
                    p 4. Хрусталь
                    p 5. Брендовые изделия
                    p 6. Велосипеды
                    p 7. Телефоны
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "Мы ценим Ваше время, поэтому предлагаем оставить заявку.",
            subtitle: "Мы свяжемся с вами в течение 10-ти минут",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-time"
            })
    .page__container.container
        h2.page__title Почему стоит обратиться в ломбард
        .page__row
            .block-double-carousel.block-double-carousel--items-8
                .owl-carousel.owl-theme(data-owl-carousel="8")
                    +card-link({
                        title: "Шаговая доступность от метро",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Бесплатная оценка",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Карты лояльности",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Неограниченная сумма займа",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Опытные эксперты геммологи",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Конфиденциальность данных",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Частичное погашение займа",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Работаем ежедневно и без выходных",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
    .page__container.container
        h2.page__title О нас
        .page__row
            .page__text 
                    p Ломбард уже более 10 лет работает в направлении выдачи займов под залог ценных вещей. Количество довольных клиентов, обратившихся к нам, растет с каждым днем. Все ломбарды находятся в пешей доступности от станций метро, поэтому Вы легко их найдете. Выбирайте ближайший к Вам адрес нашего ломбарда и приезжайте для получения займа.
        .page__row
            +dropdownDesc([
                {
                    title: "Покупка и продажа антиквариата выгодно",
                    desc: [
                        "В ситуации, когда немедленно нужны деньги, выбирать не приходится. И если обращение в любую кредитную организацию требует времени на сбор документов и рассмотрение заявок, то ломбард предлагает наличные в течение 10-20 минут после обращения. Сдать в это заведение можно множество различных вещей, которые не имеют ценности для владельца, но желанны для других покупателей."
                    ]
                },
                {
                    title: "Что выгодно сдавать в ломбард?",
                    desc: [
                        "Обычно в залог отдают дорогие товары, так как за них можно выручить вполне приличную сумму денег.  Распространен прием антиквариата в СПб, а также других старинных вещей, которые зачастую не имеют для владельца никакой ценности. Вообще к категории раритетов приравниваются изделия возрастом старше 50 лет. Так что сейчас уже можно получить неплохие деньги за обыкновенные бытовые предметы, оставшиеся с советских времен.Всегда есть спрос на продажу и покупку икон как предметов старины и произведений искусства. Если они остались у вас от бабушек, прабабушек или еще более старых предков, то сегодня можно сдать их и получить за это хорошую сумму.",
                    ]
                },
                {
                    title: "Как происходит процедура сдачи вещей?",
                    desc: [
                        "В первую очередь любой предмет старины следует оценить, чтобы определить, какова его рыночная стоимость. Опытный эксперт скажет примерную цену вещи даже по телефону, просто по ее описанию. Для получения более точной цифры  нужно посетить ломбард, где производится покупка и продажа антиквариата в СПб.",
                        "Далее следует этап заключения договора, в котором определяются все условия сделки. Не стоит рассчитывать на то, что вы получите за свое ювелирное изделие или другую старинную вещь сумму, равную его рыночной стоимости. Если вы обращаетесь в кредитное заведение с целью моментального получения наличных, то максимум, на который вы можете рассчитывать – 70% от реальной цены. Именно выдача денег является последним этапом сделки, если вы сдаете изделие без возможности последующего выкупа.",
                        "При профессиональном подходе к делу вся процедура занимает около 10 минут. За это время эксперт сможет оценить вашу вещь, а специалист фирмы – оформить необходимые документы и выдать деньги. Наша компания занимается покупкой икон в СПб, скупкой антиквариата, берем в залог любые вещи, которые можно впоследствии перепродать. Мы гарантируем честную адекватную оценку и максимально высокую стоимость и при сдаче предметов на продажу, и при их залоге.",

                    ]
                },
                
            ])