main.page
    .page__container.container
        .page__row
            p.page__desc.fw-bold Золото, бриллианты и серебро
            p.page__desc.fw-bold Сеть Ломбардов в Санкт-Петербурге (10 отделений). Займ/кредит под залог ювелирных изделий, драгоценных камней
        //- .page__row
        //-     .page__split
        //-         .page__split-left.flex-basis-40
        //-             .calculator-aside(style="background-image: url(./assets/img/bg/gold-bg.jpg)")
        //-                 .calculator-aside__content 
        //-                     .calculator-aside__text ЦЕНА НА ЗОЛОТО 585<br> ДО 2 185 РУБЛЕЙ<br> ЗА 1 ГРАММ 
        //-         .page__split-rigth.flex-basis-60
        //-             include ../../blocks/calculator/calculator.pug
    .page__container.container
        .page__title Цена на золото 585 до 2 185 рублей за 1 грамм
    .page__wide-block
        .wide-block(style="background-image: url(assets/img/bg/bg2.jpg)")
            .wide-block__fade
                .wide-block__wrapper.container
                    .wide-block__container
                        include ../../blocks/calculator/calculator.pug
    .page__container.container
        .page__title Мы принимаем в наши ломбарды
    .page__container.container
        .page__row
            include ../../blocks/block-accept/block-accept.pug
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "У нас уже 12 ломбардов",
            subtitle: "Выберите ближайший к вам",
            button: "Выбрать ломбард",
            link: "contacts.html",
            icon: "zmdi-pin"
            })
    .page__container.container
        .page__title 3 шага к получению денег
    .page__container.container
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme#carouselSteps(data-owl-carousel="3")
                    +card-link({
                        title: "Посетить ближайший ломбард",
                        desc: "1",
                        background: "assets/img/img/call.jpg",
                        class: "step"
                        })
                    +card-link({
                        title: "Оценить драгоценности",
                        background: "assets/img/img/card-link-1.jpg",
                        desc: "2",
                        class: "step"
                        })
                    +card-link({
                        title: "Получить деньги",
                        background: "assets/img/img/money.jpg",
                        desc: "3",
                        class: "step"
                        })
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "Мы ценим ваше время",
            subtitle: "Для вашего удобства оцените драгоценности заранее",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-time",
            })
    .page__container.container
        .page__title Что вы должны знать при получении займа
    .page__container.container
        .page__row
            include ../../blocks/conditions/conditions.pug
    .page__container.container
        .page__title Примеры выданных займов
    .page__container.container
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme#carouselExamples(data-owl-carousel="3")
                    +card-link({
                        title: "Вес — 31,31г.",
                        subtitle: "Сумма оценки — 11 300 руб.",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "example"
                        })
                    +card-link({
                        title: "Вес — 5.58г.",
                        subtitle: "Сумма оценки — 141 300 руб.",
                        background: "assets/img/img/card-link-2.jpg",
                        class: "example"
                        })
                    +card-link({
                        title: "Вес — 11,53г.",
                        subtitle: "Сумма оценки — 41 300 руб.",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example"
                        })
    .page__wide-block
        .wide-block(style="background-image: url(assets/img/bg/bg2.jpg)")
            .wide-block__fade
                .wide-block__wrapper.container
                    .wide-block__container
                        include ../../blocks/evaluation/evaluation.pug
    .page__container.container
        .page__row
            .block-double-carousel.block-double-carousel--items-8
                .owl-carousel.owl-theme(data-owl-carousel="8")
                    +card-link({
                        title: "Шаговая доступность от метро",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Бесплатная оценка",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Карты лояльности",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Неограниченная сумма займа",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Опытные эксперты геммологи",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Конфиденциальность данных",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Частичное погашение займа",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Работаем ежедневно и без выходных",
                        background: "assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
    .page__container.container
        .page__row
            +dropdownDesc([
                {
                    title: "Как выгодно сдать в ломбард золото?",
                    desc: [
                        "Самый простой способ получить наличные в день обращения – это прийти в золотой ломбард и сдать свои украшения. Плюс этого заведения состоит в том, что впоследствии памятные вещицы можно выкупить обратно. Именно эти два фактора и приводят клиентов в данное кредитное учреждение."
                    ]
                },
                {
                    title: "Как происходит оценка?",
                    desc: [
                        "Если вы хотите сдать в ломбард СПб золото, стоимость его будет определять эксперт. Существует два типа учреждений.",

                        "1. Все изделия принимаются как лом, независимо от их ювелирной ценности. В этом случае даже ваши любимые сережки будут оценены просто по цене за грамм драгоценного металла. А камни и вовсе не берутся в расчет. Первым делом эксперт определяет качество материала, используя для этого специальные реактивы и высокоточные весы. Зачастую случается, что владелец украшения и сам не подозревал о реальной ценности предмета. Иногда она оказывается гораздо ниже той цены, по которой изделие было приобретено. Далее вещь взвешивается, а затем специалист озвучивает сумму, которую можно за нее выручить.",
                        "2. Цена на золото в ломбардах СПб может быть выше, если заведение оценивает не только качество металла, но и ювелирную обработку. После всех манипуляций с определением пробы и взвешивание эксперт начинает внимательно рассматривать украшение для определения его реальной стоимости. Он оценивает тонкость работы, наличие драгоценных камней также будет влиять на окончательную сумму.",
                        "Но не стоит рассчитывать на слишком большой куш. Максимум, что вы сможете получить за свои цепочки и колечки – это 70% от их настоящей цены. А вообще примерно прикинуть цену на золото в ломбарде сегодня и сумму выручки от сдачи можно следующим образом. Умножьте вес изделия на ставку Центробанка и поделите пополам. Оставшаяся сумма необходима предприятию для покрытия собственных издержек и получения прибыли. Не забудьте и про процент, который нужно будет уплатить, когда вы будете забирать свои вещи обратно.",
                    ]
                },
                {
                    title: "Как выкупить свои украшения обратно?",
                    desc: [
                        "Когда вы сдаете вещь в ломбард, желательно сразу определиться с вопросом: планируете вы ее выкупать или нет. От этого зависят ваши дальнейшие действия. Если имущество вам не нужно, то проще сразу сдать золото в ломбард на продажу и оформить соответствующий договор.",
                        "Если цепочка или браслет дороги вам как память, то в будущем их можно выкупить. Чем меньше срок, на который вы отдаете украшения в залог, тем выгоднее будет для вас сделка. По окончании залогового периода вы должны прийти в кредитную организацию, предоставить документы и залоговую квитанцию, выплатить выданную ранее сумму плюс проценты. После этого вам отдадут ювелирку. Если вы не пришли в назначенное время, срок хранения продлевается на месяц – это определено на законодательном уровне. По истечении месяца компания сдает вещь в магазин, который обычно находится здесь же. Так что все желающие могут купить золото в ломбарде, ведь оно выставлено на всеобщее обозрение. Некоторые фирмы продают невыкупленное имущество с аукциона, еще один способ реализации – отправка их на ювелирный завод для переплавки.",

                    ]
                },
                
            ])
        
    
            