main.page
    .page__container.container
        .page__row
            p.page__desc.fw-bold Золото, бриллианты и серебро
            p.page__desc.fw-bold Сеть Ломбардов в Санкт-Петербурге (10 отделений). Займ/кредит под залог ювелирных изделий, драгоценных камней