main.page
    .page__container.container
        .page__row
            p.page__desc.fw-bold Золото, бриллианты и серебро
            p.page__desc.fw-bold Сеть Ломбардов в Санкт-Петербурге (10 отделений). Займ/кредит под залог ювелирных изделий, драгоценных камней
        .page__row
            .page__split
                .page__split-left.flex-basis-40
                    .calculator-aside(style="background-image: url(./assets/img/bg/gold-bg.jpg)")
                        .calculator-aside__content 
                            .calculator-aside__text ЦЕНА НА ЗОЛОТО 585<br> ДО 2 185 РУБЛЕЙ<br> ЗА 1 ГРАММ 
                .page__split-rigth.flex-basis-60
                    include ../../blocks/calculator/calculator.pug
        .page__title Мы принимаем в наши ломбарды
        .page__row
            include ../../blocks/block-accept/block-accept.pug
    .page__wide-block
        +banner({
            background: "src/assets/img/bg/bg1.jpg",
            title: "У нас уже 12 ломбардов",
            subtitle: "Выберите ближайший к вам",
            button: "Выбрать ломбард",
            link: "#",
            icon: "zmdi-pin"
            })
    .page__container.container
        .page__title 3 шага к получению денег
        .page__row
            include ../../blocks/steps/steps.pug
    .page__wide-block
        +banner({
            background: "src/assets/img/bg/bg1.jpg",
            title: "Мы ценим ваше время",
            subtitle: "Для вашего удобства оцените драгоценности заранее",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-time"
            })
    .page__container.container
        .page__title Что вы должны знать при получении займа
        .page__row
            include ../../blocks/conditions/conditions.pug


            