main.page
    .page__wide-block.page__wide-block--top-sticky
        +bannerSlider({array: [
            {
                pretitle:"",
                title: "Сеть ломбардов Санкт-Петербургa",
                subtitle: "",
                img: "assets/img/img/slider-3.jpg"    
            },
            {
                pretitle:"Сдать в ломбард золото, серебро,",
                title: "часы, бриллианты, ювелирные украшения,",
                subtitle: "монеты, автомобили.",
                img: "assets/img/img/slider-2.jpg"    
            },
            {
                pretitle:"",
                title: "Онлайн оценка бесплатно.",
                subtitle: "",
                img: "assets/img/img/slider-4.jpg"    
            },
            {
                pretitle:"Принимаем в качестве залога изделия из",
                title: "платины и палладия",
                subtitle: "",
                img: "assets/img/img/slider-1.jpg"    
            },
        ]})
    //-     .owl-carousel.owl-theme#carouselImg(data-img-slider)
    .page__container.container
        .page__title Цена на золото
        .page__row
            +tablePrices({array: [
                    {
                        name: "Золото",
                        sample: "375",
                        price1: "1288",
                        price2: "1326",
                        price3: "1401",
                        className: "not-interaction"
                    },
                    {
                        name: "Золото",
                        sample: "585",
                        price1: "2100",
                        price2: "2068",
                        price3: "2185",
                        className: "not-interaction"
                    },
                    {
                        name: "Золото",
                        sample: "750",
                        price1: "2576",
                        price2: "2651",
                        price3: "2801",
                        className: "not-interaction"
                    }
            ]})
    .page__container.container
        .page__title.pt-50 Мы принимаем в наши ломбарды
        .page__row
            .block-double-carousel.block-double-carousel--items-6
                .owl-carousel.owl-theme(data-owl-carousel)
                    +card-link({
                        link: 'jewelry.html', 
                        title: "Золото, бриллианты, серебро",
                        desc: "Ставка от 2 % в месяц.",
                        background: "assets/img/img/zoloto_diamonds_silver.png"
                        })
                    +card-link({
                        link: 'auto.html', 
                        title: "Автоломбард",
                        desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц. Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                        background: "assets/img/img/autolombard.png"
                        })
                    +card-link({
                        link: 'watch.html', 
                        title: "Часы",
                        desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                        background: "assets/img/img/chasi.png"
                        })
                    //- +card-link({
                    //-     link: '#', 
                    //-     title: "Шубы",
                    //-     desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                    //-     background: "assets/img/img/card-link-4.jpg"
                    //-     })
                    //- +card-link({
                    //-     link: '#', 
                    //-     title: "Монеты",
                    //-     desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                    //-     background: "assets/img/img/card-link-5.jpg"
                    //-     })
                    +card-link({
                        link: 'electronics.html', 
                        title: "Электроника",
                        desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                        background: "assets/img/img/electronika.png"
                        })
                    +card-link({
                        link: 'real-estate.html', 
                        title: "Недвижимость",
                        desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                        background: "assets/img/img/nedvigimost.png"
                        })
                    +card-link({
                        link: 'etc.html', 
                        title: "Прочее",
                        desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                        background: "assets/img/img/prochee.png"
                        })
    .page__wide-block.pt-50
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "У нас уже 12 ломбардов",
            subtitle: "Выберите ближайший к вам",
            button: "Выбрать ломбард",
            link: "contacts.html",
            icon: "zmdi-pin"
            })
    .page__container.container
        .page__title Приглашаем в наши ломбарды
        .page__row.pb-10
            p.page__desc.w-50 Сеть ломбардов приглашает Вас в свои салоны, расположенные в удобных точках Санкт-Петербурга. Сдать дорого в сети ломбардов СПб. Выгодные условия, быстрое и качественное обслуживание!
        .page__row.pt-0
            .info-cards
                .info-cards__item
                    +info-main-block({
                        title: "Займ под залог в сети ломбардов",
                        text: [
                            "Сеть ломбардов — это финансовая организация, где любой клиент сможет получить краткосрочные займы под залог движимого имущества. Сдать в ломбард Вы также можете ювелирные изделия, столовое серебро, золото, любую аудио-, видео-, фото- и иную технику. Получить деньги в долг под залог в сети ломбардов очень просто: ломбард и скупка вещей оформляется не более 10 минут.", 
                            "Если залоговое имущество не выкупается в установленный договором срок (эксклюзивные ювелирные украшения или часы), оно выставляется на аукцион по наиболее выгодной цене в городе."
                            ],
                        url: "assets/img/img/1-zaim_pod_zalog.png"
                    })
                .info-cards__item
                    +info-main-block({
                        title: "Автоломбард: надежность и гарантия сделки!",
                        text: [
                            "Быстрый и простой способ, а главное надежный и безопасный, приобретение машины с привлечением кредитных средств – это обращение в автоломбард, специалисты которого в сжатые сроки оформят все необходимые документы и выдадут Вам денежные средства.", 
                            ],
                        url: "assets/img/img/1-autolombard_nedegnost_i_garantia_sdelki.png"
                    })
                .info-cards__item
                    +info-main-block({
                        title: "Швейцарские часы в залог: ломбард часов, где часы оценят по достоинству",
                        text: [
                            "На особых условиях в сети «Доверие» принимаются швейцарские часы, что дает нам основание позиционироваться как ломбард швейцарских часов. Как известно, каждый солидный ломбард часов имеет высококлассных специалистов, способных по достоинству оценить закладываемую в часовой ломбард вещь.", 
                            "Впрочем, Вам гарантировано оперативное и качественное обслуживание, независимо от того, принесли вы в ломбард телефон или швейцарские часы: в любой из наших ломбардов вы можете сдать и телефоны, и планшеты, и ноутбуки — ломбард «Доверие» предоставит Вам не менее выгодные условия сделки, чем специализированный ломбард техники. Доверие – это уверенность в чьей-либо добросовестности, искренности и правильности. Искренность и добросовестность — принципы, положенные в основу деятельности сети ломбардов — одной из немногих в стране, предоставляющих справедливую оценку залога."
                            ],
                        url: "assets/img/img/1-shveizarskie_chasi_pod_zalog.png"
                    })
    .page__wide-block
        .wide-block(style="background-image: url(assets/img/bg/bg2.jpg)")
            .wide-block__fade
                .wide-block__wrapper.container
                    .wide-block__container
                        include ../../blocks/evaluation/evaluation.pug
    .page__container.container
        .page__row
            +dropdownDesc([
                {
                    title: "Ломбард. Лучший из лучших в Санкт-Петербурге",
                    desc: [
                        "Наш ломбард — это одно из самых удобных мест в Санкт-Петербурге для быстрого получения денег. Мы зарекомендовали себя с довольно хорошей стороны среди клиентов. Они по праву считают нас одним из лучших ломбардов города. Постоянным клиентам мы предоставляем существенные преимущества и скидки. Мы всегда идём навстречу нашим клиентам. Вы в любой день можете досрочно погасить сумму займа, при этом, не заплатив никакой дополнительной комиссии. Если же у Вас напротив случилась такая ситуация, что у вас нет возможности вовремя погасить задолженность, мы всегда сможем обсудить это с вами и найдём выход, к примеру – предоставим отсрочку. Наши клиенты для нас стоят на первом месте.",

                        "График работы нашего ломбарда довольно гибкий и удобный. Мы работаем с восьми утра до восьми вечера, а консультацию по телефону вы можете получить круглосуточно. В нашем ломбарде Вы можете оставить под залог или продать свою недвижимость, транспорт, а также драгоценные камни, ювелирные изделия, часы шубы, технику и прочее. Одним из важных правил нашего ломбарда является оказание услуг только лицам, достигшим 18 лет.",

                        "Преимуществом ломбарда является тот факт, что в отличие от банка, где для получения денежных средств требуется предоставление крупного пакета документов, а также ожидания одобрения кредита, где в итоге Вам могут отказать, то у нас вы можете получить деньги в пределах часа с минимальным перечнем документов.  Таким образом, обратившись к нам, вы сохраните своё время и нервы.",

                        "Ещё одним немаловажным преимуществом нашего ломбарда является полная конфиденциальность а также мы несём полную ответственность за сохранение сданного под залог имущества."
                    ]
                },
                {
                    title: "Получение кредита под залог недвижимости",
                    desc: [
                        "Иногда, в нашей жизни случаются ситуации, когда срочно нужна крупная сумма денег. Ломбард «Доверие Недвижимость» предоставляет услуги получения кредита под залог недвижимости. Если у Вас в собственности имеется какое-либо недвижимое имущество, к примеру, дом, квартира, магазин, офис, гараж, участок земли и т.д., вы всегда можете заложить его на время. Мы предоставляем выгодные условия для наших клиентов. Предварительный объем займа Вы можете узнать по телефонной консультации, а точную сумму после бесплатного выезда нашего эксперта на объект. Мы предоставляем выгодные процентные ставки, удовлетворяющие любым требованиям клиентов. В нашем ломбарде у Вас есть минимальный шанс получить отказ в займе, а денежные средства сможете получить уже в течение дня.",

                        "Забота о клиенте – это залог выгодного и долгосрочного сотрудничества.",
                    ]
                },
                {
                    title: "Ломбардю техникию Скупка и получение займа",
                    desc: [
                        "Если Вам не хочется просить в долг у друзей и родственников, но нужны деньги, то оптимальным для Вас вариантом будет кредит под залог техники. Здесь Вы сможете получить необходимую сумму под самый минимальный процент во всем городе. Техника – это тот предмет, который есть у каждого, и, как правило, без неё можно прожить какое-то время. Также, у большинства людей есть  аппаратура, которой Вы перестали пользоваться, в связи с новой покупкой. Данную технику вы можете сдать в наш ломбард. Для получения займа не нужно многого, всего лишь требуется паспорт и сам предмет залога. Условия получения займа довольно просты: техника должна быть в рабочем состоянии и внешний вид аппаратуры должен удовлетворять минимальным требованиям ломбарда, о которых Вам сообщит наш специалист. Денежные средства Вы можете получить под хороший процент и на довольно длительный срок. Подробнее об условиях можно узнать на странице приема техники.",

                    ]
                },
                
            ])