main.page
    .page__container.container
        .page__row
            p.page__desc.fw-bold Сеть ломбардов Санкт-Петербургa. Сдать в ломбард золото, серебро, часы, бриллианты, ювелирные украшения, монеты, автомобили. Онлайн оценка бесплатно.
        .page__row
            .page__slider-wrapper
                .page__slider-aside
                    include ../../blocks/table-gold/table-gold.pug
                .page__slider
                    include ../../blocks/slider/slider.pug
        .page__title МЫ ПРИНИМАЕМ В НАШИ ЛОМБАРДЫ
        include ../../blocks/blocks-row/blocks-row.pug
    