main.page
    .page__container.container
        .page__row
            .blog
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .blog__item
                    +article-link({
                        img: "assets/img/img/card-link-1.jpg",
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })