main.page
    .page__container.container
        .page__title Часы
        .page__row
            .block-flex-row
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
        .page__title Украшения
        .page__row
            .block-flex-row
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                
        .page__title Аксессуары
        .page__row
            .block-flex-row
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })
                +card-link({
                    title: "Alain Silberstein",
                    subtitle: "185 000 ₽",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "#"
                    })