main.page
    .page__container.container
        .page__title Часы
        .page__row
            .block-flex-row
                .block-flex-row__item
                    +card-link({
                        title: "Мужские",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Женские",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Бренды",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                
        .page__title Украшения
        .page__row
            .block-flex-row
                .block-flex-row__item
                    +card-link({
                        title: "Колье",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Кольца",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Серьги",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Комплекты",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
        .page__title Аксессуары
        .page__row
            .block-flex-row
                .block-flex-row__item
                    +card-link({
                        title: "Серебро",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Ювелирные изделия",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                .block-flex-row__item
                    +card-link({
                        title: "Архив",
                        subtitle: "",
                        background: "assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "catalog.html"
                        })
                