main.page
    .page__container.container
        .page__title Часы
        .page__row
            .block-flex-row
                +card-link({
                    title: "Мужские",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Женские",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Бренды",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                
        .page__title Украшения
        .page__row
            .block-flex-row
                +card-link({
                    title: "Колье",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Кольца",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Серьги",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Комплекты",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
        .page__title Аксессуары
        .page__row
            .block-flex-row
                +card-link({
                    title: "Серебро",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Ювелирные изделия",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                +card-link({
                    title: "Архив",
                    subtitle: "",
                    background: "assets/img/img/card-link-3.jpg",
                    class: "example",
                    link: "catalog.html"
                    })
                