main.page
    .page__container.container
        h1.page__title Займы под залог недвижимости
        .page__row
            p.page__desc.fw-bold От заявки до получения денег 1 рабочий день! Работаем 7 дней в неделю
            .page__text 
                    p Залог недвижимости по программе «Деньги сразу» — это уникальная программа выдачи займов под залог недвижимости от наших партнеров.
                    p 1. Получение займа от 1 дня.
                    p 2. Без предоставления справок о доходах, кредитная история неважна.
                    p 3. Предварительное одобрение заявки от 10 минут.
                    p 4. Бесплатная оценка недвижимости без выезда на объект.
                    p 5. Выдаем собственные средства, поэтому отсутствуют посреднические комиссии.
                    p Доверие — это наш стиль.
                    p ООО МКК ДОВСАЙТ — финансовое учреждение, выдающее займы под залог недвижимого имущества.

                    p Займы под залог квартиры — это Ваша возможность достаточно быстро получить крупную сумму денег на любые цели, причем обращение в компанию имеет немало преимуществ перед банковским кредитованием
    .page__wide-block
        +banner({
            background: "assets/img/bg/bg1.jpg",
            title: "Оставьте нам свою заявку",
            subtitle: "Мы свяжемся с вами в течение 10-ти минут",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-time"
            })
    .page__container.container
        h2.page__title Беспроцентный займ до продажи недвижимости
        .page__row
            .page__text 
                    p В компании ООО «МКК ДОВСАЙТ» (она же Доверие-Недвижимость) могут предоставить не только услугу займа под залог недвижимости, но и быструю продажу вашего недвижимого имущества с предоставлением БЕСПРОЦЕНТНОГО займа до завершения сделки купли/продажи. Беспроцентный займ до продажи — это новая и очень удобная услуга, если Вам срочно нужны деньги, когда вы продаете недвижимое имущество (квартиру, комнату, дом, офис, склад и т.д.)
                    p Схема работы:
                    p 1. У нотариуса заключается договор займа и вы получаете деньги
                    p 2. Агент уточняет у вас цену продажи и приступает поиску покупателей
                    p 3. Агент размещает и ведет рекламную компанию (объявления, растяжки, стритлайнеры и т.д.)
                    p 4. И далее во время продажи оказывается полное юридическое сопровождение сделки
                    p Почему беспроцентный займ?  Прибыль — это обычное вознаграждение (комиссия) риэлтора. И поэтому выгоднее продать вашу недвижимость как можно быстрее. А для Вас это выгодно, так как все заботы по продаже ДОВСАЙТ берет на себя и вы не тратите время и нервы. А если вы хотите получить отчет о продаже и деятельности (реклама, документы и т.д.), возможно предоставить его в любой момент по вашему запросу.
                    p Дополнительные условия: Срок продажи недвижимости — 6 месяцев. По истечении 4-х месяцев клиент оплачивает процент за пользование займом (2,5% в месяц)
        .page__title Полезные статьи
        .page__row
            .articles
                .articles__item
                        +article-link({
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                        +article-link({
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
                .articles__item
                        +article-link({
                        title: "Как найти хороший ломбард и где продать золото дорого в Санкт-Петербурге",
                        desc: "Где продать золото дорого в Санкт-Петербурге Бывает, что возникает срочная необходимость в наличных деньгах, а в долг у друзей или..",
                    })
        .page__row
            +dropdownDesc([
                {
                    title: "Как под залог недвижимости получить крупную сумму?",
                    desc: [
                        "Один из вариантов кредитования – получение займа под залог недвижимости. Это отличается от банковского займа по ряду признаков, имеет свои достоинства и недостатки. Прерогатива ООО «МКК «ДОВСАЙТ»– это предоставление сумм под залог недвижимого имущества."
                    ]
                },
                {
                    title: "Особенности",
                    desc: [
                        "1. Быстрая оценка имущества и быстрая выдача денег. Вам не придется ждать несколько дней, чтобы получить решение о сумме, которую заведение сможет вам выдать.",
                        "2. Минимальный пакет документов. Иногда даже не придется подтверждать свою платежеспособность, ведь гарантией возврата денег является недвижимое имущество.",
                        "3. Заключение договора. Надежные кредиторы всегда подписывают документы на выдачу денег под залог недвижимости в СПб.",
                        "Среди отрицательных моментов можно выделить один большой недостаток – вы получите гораздо меньшую сумму, чем можно выручить от продажи жилья. Обычно выплачивается от 40 до 70%, в зависимости от ликвидности вашего имущества.",
                    ]
                },
                {
                    title: "С какой целью сдают недвижимость?",
                    desc: [
                        "Вполне понятно, что люди обращаются за займом исключительно в тех случаях, когда срочно нужны деньги. Учитывая высокую стоимость недвижимости, можно выделить несколько вариантов, когда приходится прибегать к крайним мерам.",
                        "Фирмы предлагают два типа выдачи займов. В первом варианте оформляется сделка купли/продажи, отдельным документом предусмотрена возможность выкупа в течение определенного срока. Отзывы о займах под залог недвижимости с подписанием документа о его продаже не слишком радужные, главным образом, за счет маленькой суммы, которую предлагает кредитная компания. Во втором варианте компания действует через банк, который и выдает займ. в этом случае и сумма, выданная на руки собственнику, будет больше, и процент по выплатам меньше.",

                    ]
                },
                
            ])