main.page
    .page__container.container
        .page__title Каталог услуг
        .page__row
            .articles
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })
                .articles__item
                     +card-link({
                        title: "Заложить велосипед",
                        background: "assets/img/img/service.jpg",
                        link: "service.html"
                    })