main.page
    .page__container.container
        .page__title Заложить велосипед
        .page__row
            p Золото — драгоценный металл, который с древнейших времен используется в качестве валюты, материала для украшений и как элемент роскоши. Запасы золота довольно обширны, но добывать его сложно, поэтому на сегодняшний день добыта лишь малая часть этого драгоценного металла. Именно золото является самым стабильным активом, в который вкладываются многие инвесторы, а также в огромных количествах закупается банками. Так же золото способно напрямую влиять на экономику как отдельно взятой страны, так и мировую экономику в целом. Так же стоит отметить, что цена на золото сейчас переживает бурный рост.
    .page__wide-block
        .wide-block(style="background-image: url(assets/img/img/service.jpg)")
            .wide-block__fade
                .wide-block__wrapper.container
                    .wide-block__container
                        include ../../blocks/evaluation/evaluation.pug