main.page
    .page__container.container
        .page__title Скупка часов в Санкт-Петербурге
        .page__row
            .block-double-carousel.block-double-carousel--items-6
                .owl-carousel.owl-theme#carouselAdvantage(data-owl-carousel="6")
                    +card-link({
                        title: "Принимаем часы от 10 000 рублей до 10 000 000 рублей",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Высокая оценка! До 70 % стоимости",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Ставка от 0,25 %",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Наличные деньги за 10 минут",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Возврат займа в любой день",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Оплата % только за фактические дни",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    