main.page
    .page__container.container
        .page__title Скупка часов в Санкт-Петербурге
        .page__row
            .block-double-carousel.block-double-carousel--items-6
                .owl-carousel.owl-theme#carouselAdvantage(data-owl-carousel="6")
                    +card-link({
                        title: "Принимаем часы от 10 000 рублей до 10 000 000 рублей",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Высокая оценка! До 70 % стоимости",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Ставка от 0,25 %",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Наличные деньги за 10 минут",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Возврат займа в любой день",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Оплата % только за фактические дни",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
    .page__wide-block
        include ../../blocks/evaluation/evaluation.pug
    .page__container.container
        .page__row
            +dropdownDesc([
                {
                    title: "Ломбард",
                    desc: [
                        "Сеть ломбардов «Доверие» предоставит неограниченную сумму денег под залог Ваших часов. Вы получите наличные деньги в течение 10 минут. Мы осуществляем свою деятельность в строгом соответствии с Федеральным законом «О ломбардах», что является гарантией сохранности Ваших часов. Все заложенные часы застрахованы и хранятся в специальном сейфовом хранилище. На руки Вам будет прдоставлен бланк строгой отчетности, «залоговый билет», с точным описанием часов и их залоговой стоимостью. Мы производим честную оценку часов и предлагаем действительно высокие цены. Оценить часы Вы можете совершенно бесплатно."
                    ]
                },
                {
                    title: "Скупка часов",
                    desc: [
                        "Ломбард выкупает любые модели часов. Действуют специальные условия для редких и популярных моделей хронометров. В любое время, Вы можете бесплатно произвести оценку часов, одним из трех доступных способов, указанных ниже. Мы не ограничиваем максимальную сумму, и выплатим до 10 миллионов рублей. Вы получите наличные деньги за 10 минут, и при этом абсолютно конфиденциально.",
                    ]
                },
                {
                    title: "Продажа часов",
                    desc: [
                        "В нашем ломбарде Вы можете купить элитные часы известных марок. Все часы, находящиеся в продаже, прошли проверку на предмет подлинности и технического состояния. Вы можете быть абсолютно уверены в подлинности часов, так как проверку проводят, как минимум, два компетентных специалиста, один из которых является независимым экспертом. Мы не продаем часы сомнительного происхождения, копии или часы в плохом техническом состоянии. Все модели часов, доступные к покупке, представлены на нашем сайте, на странице «Изделия в продаже».",
                    ]
                },
                
            ])
        .page__title 3 способа бесплатной оценки ваших часов
        .page__row
            .carousel-line-wrapper
                .owl-carousel.owl-theme(data-owl-carousel="3")
                    +conditionsCard({
                        title: "1. Специалист",
                        desc: "Связаться с нашим специалистом удобным для вас способом.",
                        list: [
                            {
                                icon: "account-box-o",
                                text: "Игорь",
                            },
                            {
                                icon: "phone",
                                text: "1234567",
                            },
                            {
                                icon: "email",
                                text: "mail@mail.ru",
                            },
                            {
                                icon: "whatsapp",
                                text: "1234567",
                            },
                            {
                                icon: "time-interval",
                                text: "с 08:00 - до 22:00",
                            },
                        ]
                        })
                    +conditionsCard({
                        title: "2. Быстрая оценка",
                        desc: 'Воспользоваться формой "Быстрой оценки" на нашем сайте.',
                        link: "#"
                        })
                    +conditionsCard({
                        title: "3. Посетить Салон-Ломбард",
                        desc: "Посетить Салон-Ломбард Часов. Специалист ломбарда произведет оценку и выдаст Вам займ за 10 минут.",
                        list: [
                            {
                                icon: "pin",
                                text: "Владимирский пр. 15"
                            }
                        ]
                        })
    .page__wide-block
        +banner({
            background: "src/assets/img/bg/bg1.jpg",
            title: "Мы принимаем любые часы",
            subtitle: "Специальные условия для часов стоимостью более 100 000 рублей",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-watch"
            })
    .page__container.container
        .page__title Наши последние поступления
        .page__row
            .block-double-carousel.block-double-carousel--items-8
                .owl-carousel.owl-theme(data-owl-carousel="8")
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
                    +card-link({
                        title: "Alain Silberstein",
                        subtitle: "185 000 ₽",
                        background: "src/assets/img/img/card-link-3.jpg",
                        class: "example",
                        link: "#"
                        })
        .page__row
            .page-button
                .page-button__elem
                    +button({
                        text: "Перейти к каталогу",
                        link: "#"
                    })
        .page__row
            .block-double-carousel.block-double-carousel--items-8
                .owl-carousel.owl-theme(data-owl-carousel="8")
                    +card-link({
                        title: "Шаговая доступность от метро",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Бесплатная оценка",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Карты лояльности",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Неограниченная сумма займа",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Опытные эксперты геммологи",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Конфиденциальность данных",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Частичное погашение займа",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
                    +card-link({
                        title: "Работаем ежедневно и без выходных",
                        background: "src/assets/img/img/card-link-1.jpg",
                        class: "advantage"
                        })
    .page__wide-block
        +banner({
            background: "src/assets/img/bg/bg1.jpg",
            title: "Мы ценим ваше время",
            subtitle: "Поэтому предлагаем оставить заявку",
            button: "Оставить заявку",
            link: "#",
            icon: "zmdi-time"
            })
    .page__container.container
        .page__title Основные условия займа
        .page__row
            include ../../blocks/conditions/conditions.pug
        .page__row
            .block-double-carousel.block-double-carousel--items-6
                .owl-carousel.owl-theme(data-owl-carousel="6")
                    +imgCard({
                        background: "src/assets/img/img/card-link-1.jpg",
                        })
                    +imgCard({
                        background: "src/assets/img/img/card-link-1.jpg",
                        })
                    +imgCard({
                        background: "src/assets/img/img/card-link-1.jpg",
                        })
                    +imgCard({
                        background: "src/assets/img/img/card-link-1.jpg",
                        })
                    +imgCard({
                        background: "src/assets/img/img/card-link-1.jpg",
                        })
                    +imgCard({
                        background: "src/assets/img/img/card-link-1.jpg",
                        })
                    