*{
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



.br {
    border: 1px solid red;
}

.wide-block {
    // background-color: $primary-color;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__fade {
        height: 100%;
        width: 100%;
        // background-color: $background-opacity-color;
        background-color: $ira-bg-color-80;
    }
    &__wrapper {
        display: flex;
    }
    
    &__container {
        margin: 0 auto;
        padding: 0 30px;
    }
}