*{
    box-sizing: border-box;
}
body, html {
    padding: 0;
    margin: 0;
    font-family: $mainFont;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.page__desc {
    line-height: 1.5;
}
.fw-bold {
    font-weight: bold;
}
.page__title {
    text-align: center;
    font-size: 2.3em;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 400;
}
.page__row {
    padding-top: 30px;
    padding-bottom: 30px;
}
.page__banner {
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.w-50 {
    max-width: 50%;
}