extends ../layout/page.pug

block variables
    - var title = 'Статья';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    main.page
        .page__container.container
            .page__title Как сдать ноутбук в ломбард с возможностью его последующего выкупа
            .page__row
                .page__text Наверное, у каждого были в жизни ситуации, когда срочно нужны деньги. Хорошо, если есть, у кого занять нужную сумму. В противном случае приходится выкручиваться самостоятельно. И тогда отличный шанс получить нужную сумму «здесь и сейчас» — это обратиться в микрофинансовую организацию. Обладатели современной техники могут заложить ноутбук в ломбард с правом последующего выкупа.
    include ../../blocks/footer/footer.pug