extends ../layout/page.pug

block variables
    - var title = 'Электроника';
    //- - var calculatorClass = 'calculator--jewelry';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    include ../includes/etc-content.pug
    include ../../blocks/footer/footer.pug