extends ../layout/page.pug

block variables
    - var title = 'Принимаем в залог';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    
    main.page
        .page__container.container
            .page__row
                p.page__desc.fw-bold Мы принимаем в залог
            .page__row
                .block-flex-row
                    .block-flex-row__item
                        +card-link({
                            link: '#', 
                            title: "Золото, бриллианты, серебро",
                            desc: "Ставка от 2 % в месяц.",
                            background: "assets/img/img/card-link-1.jpg"
                            })
                    .block-flex-row__item
                        +card-link({
                            link: '#', 
                            title: "Автоломбард",
                            desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц. Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                            background: "assets/img/img/card-link-2.jpg"
                            })
                    .block-flex-row__item
                        +card-link({
                            link: '#', 
                            title: "Часы",
                            desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                            background: "assets/img/img/card-link-3.jpg"
                            })
                    //- .block-flex-row__item
                    //-     +card-link({
                    //-         link: '#', 
                    //-         title: "Шубы",
                    //-         desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                    //-         background: "assets/img/img/card-link-4.jpg"
                    //-         })
                .block-flex-row
                    //- .block-flex-row__item
                    //-     +card-link({
                    //-         link: '#', 
                    //-         title: "Монеты",
                    //-         desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                    //-         background: "assets/img/img/card-link-5.jpg"
                    //-         })
                    .block-flex-row__item
                        +card-link({
                            link: '#', 
                            title: "Электроника",
                            desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                            background: "assets/img/img/card-link-6.jpg"
                            })
                    .block-flex-row__item
                        +card-link({
                            link: '#', 
                            title: "Недвижимость",
                            desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                            background: "assets/img/img/card-link-7.jpg"
                            })
                    .block-flex-row__item
                        +card-link({
                            link: '#', 
                            title: "Прочее",
                            desc: "Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.",
                            background: "assets/img/img/card-link-8.jpg"
                            })
                
    include ../../blocks/footer/footer.pug