mixin card-link(options)
    a.card-link(href=options.link style="background-image: url("+options.background+")")
        .card-link__title #{options.title}
        .card-link__main 
            if options.desc
                .card-link__decs #{options.desc}