mixin card-link(options)
    a.card-link(href=options.link style="background-image: url("+options.background+")")
        .card-link__title #{options.title}
        .card-link__main 
            .card-link__decs Займ под залог ПТС. Авто остается у ВАС. Наличные деньги за 30 минут. Ставка от 2 % в месяц.