mixin contactCard(options)
    .contact-card
        .contact-card__title
            a.contact-card__link(link="lombard-address.html") #{options.title}
        .contact-card__main
            .contact-card__coordinates
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-subway 
                    .contact-card__item-text метро Владимирская
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-pin 
                    .contact-card__item-text #{options.address}
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-email 
                    .contact-card__item-text lombard@mail.ru
            .contact-card__mode
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-time 
                    .contact-card__item-text #{options.time}
            .contact-card__coontacts
                .contact-card__item
                    .contact-card__item-icon
                        i.zmdi.zmdi-phone 
                    .contact-card__item-text #{options.phone}
                

