mixin conditionsCard(options)
    .conditions-card
        .conditions-card__title #{options.title}
        if !options.link
            .conditions-card__main 
                .conditions-card__desc #{options.desc}
        else if options.link
            .conditions-card__center #{options.desc}
            .conditions-card__button-wrapper
                .conditions-card__button
                    +button({text: "Оставить заявку"})