@import "../../assets/scss/utils/vars.scss";

.conditions-card {
    text-decoration: none;
    display: inline-block;
    // position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $background-opacity-color;
   
}
.conditions-card__title {
    background-color: $background-opacity-color;
    height: 100px;
    color: $default-color;
    display: flex;
    justify-content: center;
    align-items: center;
    // text-transform: uppercase;
    text-align: center;
    padding: 0 15px;
    line-height: 1.5;
    font-size: 1.2em;
    font-weight: bold;
}
.conditions-card__main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    &--list-wrapper {
        justify-content: flex-start;
        .conditions-card__desc {
            flex: 0;
        }
    }
}
.conditions-card__desc {
    background-color: $default-color;
    // height: 130px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    // color: $default-color;
    padding: 15px 75px;
    font-size: 1.1em; 
    line-height: 1.7;
    // transform:translateY(100%);
    // transition: all .4s ease;
    // opacity: 0;
    @media (min-width: 768px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.conditions-card__center {
    background-color: $background-opacity-color;
    padding: 15px;
    font-size: 1.1em;
    text-align: center;
    color: $default-color;
}

.conditions-card__button-wrapper {
    background-color: $background-opacity-color;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.conditions-card__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    flex: 1;
}

.conditions-card__list-item-icon {
    // width: 20px;
    // height: 20px;
    color: $accent-color;
    font-size: 1.5em;
    padding: 0 20px;
    line-height: 1;
}