@import "../../assets/scss/utils/vars.scss";

.textarea {
    padding: 20px;
    // background-color: $card-background-color;
    // border: none;
    transition: box-shadow .4s ease;
    width: 100%;
    min-height: 103px;
    // transition: all .4s ease;
    // border: 1px solid $secondary-color;
    border: none;
    resize: vertical;

    &:focus {
        outline: none;
        // box-shadow: $box-shadow;
    }
    &.input--danger {
        // background-color: $danger-color-light;
    }
}