footer.footer
    .footer__container.container
        .footer__top
            .footer__store
                .footer__logo
                    .footer__logo-img
                        include ../logo/logo.pug
                .footer__desc Сеть ломбардов, 2017 г.Все права защищены.
            .footer__links
                .footer__link О компании
                .footer__link Контакты
                .footer__link Мы принимаем в залог
                .footer__link Скупка
            .footer__news
                .footer__link Новости
                .footer__link Акции
                .footer__link Изделия в продаже
        .footer__bottom