@import "../../assets/scss/utils/vars.scss";

.footer {
    min-height: 300px;
    // background-color: $ira-bg-color;
    background-color: $background-secondary-color;
    color: $default-color;

    @media(min-width: 992px) {
        padding-top: 50px;

    }
}

.footer__top {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: space-between;

    @media(min-width: 768px) {
        flex-direction: row;
    }

   
}

.footer__store {
    // flex: 0 1 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    @media(min-width: 768px) {
        // flex: 0 1 50%;
    }
}

.footer__nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    
        .menu-item {
            padding-bottom: 15px;
        }
    
        a {
            text-decoration: none;
            color: $default-color;
            transition: all .4s ease;
            display: inline-block;
            padding-bottom: 1px;
            border-bottom: 1px solid transparent;
            &:hover, &:focus     {
                border-bottom: 1px solid $default-color;
            }
        } 
    }
}


.footer__logo {
    padding-bottom: 20px;
    // svg  path {
        // fill: $default-color;
    // }

    .logo__title {
        color: $default-color;
    }
}
.footer__logo-img {
    width: 50px;
}


.footer__item {
    // min-width: 190px;
    position: relative;
    display: flex;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .4s ease;
    color: $default-color;
    border-color: $default-color;
    
    &-icon {
        text-align: center;
        flex: 0 0 20px;
        padding-right: 10px;
        // width: 40px;
        display: block;
        font-family: $iconicFont;
        font-size: 1.5em;
        // color: $accent-color;
        // color: $default-color;
        color: inherit;
        align-self: flex-start;
    }
    
    &-text {
        line-height: 1.5;
        
        &--link {
            // border-bottom: 1px solid $default-color;
            border-bottom: 1px solid;
            
        }

    }
    a {
        text-decoration: none;
        color: inherit;
        // border-bottom: 1px solid $default-color;
        border-bottom: 1px solid;
    }

    &:hover, &:active, &:focus {
        color: $primary-color;
    }
    // @media (min-width: 768px) {
    //     align-items: center;
    //     border-color: $accent-color;
    // }
}

.footer__number {
    font-size: 24px;
    padding: 10px 0;
}

.footer__bottom {
    border-top: 1px solid $neutral-secondary-color;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer__bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;

    @media (min-width: 768px) {
        flex-direction: row;
    }
}
.footer-socials {
    display: flex;
    padding-bottom: 10px;
    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}
.footer-socials__icon {
    padding: 5px;
    margin-left: 15px;
    cursor: pointer;
    transition: all .4s ease;
    color: $default-color;

    i {
        font-size: 1.4em;
    }
    path {
        fill: $default-color;
        transition: all .4s ease;
    }
    

    &:hover, &:active, &:focus {
        color: $primary-color;

        path {
            fill: $primary-color;
        }
    }
}

