footer.footer
    .footer__container.container
        .footer__top
            .footer__store
                .footer__logo
                    include ../logo/logo.pug
                .footer__number 8-800-123-45-67
                .footer__item
                    .footer__item-icon
                        i.zmdi.zmdi-phone-in-talk 
                    .footer__item-text.footer__item-text--link(data-show-popup) Заказать звонок
                .footer__item
                    .footer__item-icon
                        i.zmdi.zmdi-pin 
                    a.footer__item-text(href="contacts.html") Выбрать ломбард
                
            nav.footer__links
                ul.footer__left-links
                    li.menu-item
                        a(href="about.html") О компании
                    li.menu-item
                        a(href="contacts.html") Контакты
                    li.menu-item
                        a(href="pledge.html") Мы принимаем в залог
                    li.menu-item
                        a(href="buyup.html") Скупка
                ul.footer__right-links
                    li.menu-item
                        a(href="news.html") Новости
                    li.menu-item
                        a(href="discount.html") Акции
                    li.menu-item
                        a(href="onsale.html") Изделия в продаже
    .footer__bottom
        .container
            .footer__desc Универсальный ломбард №1, 2020 г. Все права защищены.