footer.footer
    .footer__container.container
        .footer__top
            .footer__store
                .footer__logo
                    include ../logo/logo.pug
                .footer__number 8-800-123-45-67
                .footer__item
                    .footer__item-icon
                        i.zmdi.zmdi-phone-in-talk 
                    a.footer__item-text(href="#") Заказать звонок
                .footer__item
                    .footer__item-icon
                        i.zmdi.zmdi-pin 
                    a.footer__item-text(href="contacts.html") Выбрать ломбард
                
            .footer__links
                .footer__info-links
                    a.footer__link(href="about.html") О компании
                    a.footer__link(href="contacts.html") Контакты
                    a.footer__link(href="#") Мы принимаем в залог
                    a.footer__link(href="#") Скупка
                .footer__news-links
                    a.footer__link(href="#") Новости
                    a.footer__link(href="#") Акции
                    a.footer__link(href="onsale.html") Изделия в продаже
    .footer__bottom
        .container
            .footer__desc Универсальный ломбард №1, 2020 г. Все права защищены.