extends ../layout/page.pug

block variables
    - var title = 'Информация';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    main.page
        .page__container.container
            .page__title Список правил
            .page__row
                .page__text 
                    p 1. Ломбард, являясь кредитной организацией вне банковской системы, осуществляет
                    p - предоставление краткосрочных займов гражданам под залог изделий из драгоценных металлов и драгоценных камней;
                    p - реализацию принятого от граждан в залог и не выкупленного имущества;
                    p - выдачу краткосрочных займов населению;
                    p - кредитование граждан с целью приобретения товаров (услуг);
                    p - скупку ювелирных изделий и их лома;
                    p - принимает инвестиции от граждан и юридических лиц в виде процентных займов.
                    p 2. При выдаче кредита под залог имущества, между Ломбардом-кредитором (залогодержателем) и гражданами-заемщиками (залогодателями) заключается Договор краткосрочного кредитования под залог имущества с оформлением залогового билета установленной формы. В Договоре указывается описание и полная сумма оценки имущества, сумма выдаваемого Ломбардом кредита, дата реализации невостребованного имущества, ответственность сторон и другие условия Договора. Подпись залогодателя на Договоре означает согласие с условиями Договора, с суммой оценки, датой реализации невостребованного имущества и другими условиями.
                    p 3. Услуги Ломбарда оказываются гражданам не моложе 18 лет, по предъявлении ими паспорта или иного заменяющего его, по законодательству, документа.
    include ../../blocks/footer/footer.pug