extends ../layout/page.pug

block variables
    - var title = 'Акции';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    include ../includes/news-content.pug
    include ../../blocks/footer/footer.pug