extends ../layout/page.pug

block variables
    - var title = 'В продаже';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    include ../includes/onsale-content.pug
    include ../../blocks/footer/footer.pug