extends ../layout/page.pug

block variables
    - var title = 'Услуга';

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    include ../includes/service-content.pug
    include ../../blocks/footer/footer.pug