extends ../layout/page.pug

block variables
    - var title = 'Часы';
    //- - var src = "https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js";
    - var calculator = "1";

block content
    include ../../blocks/header/header.pug
    include ../../blocks/menu/menu.pug
    include ../includes/watch-content.pug
    include ../../blocks/footer/footer.pug