extends ../layout/page.pug

block variables
	- var title = 'Часы';

block content
	include ../../blocks/header/header.pug
	include ../../blocks/menu/menu.pug
	include ../includes/watch-content.pug
	include ../../blocks/footer/footer.pug