// $mainFont                : 'Open Sans', sans-serif;
$mainFont                  : 'UbuntuRegular', sans-serif;
$iconicFont                : 'Material-Design-Iconic-Font';
// $mainFont                :  sans-serif;
// $secondaryFont           : 'BebasNeue Regular', sans-serif;

// $primary-color           : #0cbcd3; 

// $primary-color           : #6C6F90;
// $primary-color           : #3BB5A5;
$primary-color           : #21ccb5;
// $primary-color           : #ACEBE2;
// $primary-color           : #15276E;

$secondary-color         : #0a164e;
$secondary-color-80      : rgba(10, 22, 78,.8);
$accent-color            : #fc7654;  
$text-color              : #444;  
// $box-shadow-30           : rgba(0,0,0,0.3);
          
// $secondary-color         : #1d85b6; 
$primary-background-color: #E8E8EE ;     
// $background-dark-color   : #6C6F90 ;  
$background-dark-color   : $primary-color;
// $background-opacity-color: rgba(108,111,144,0.8) ;   
// $background-opacity-color: rgba(10,163,143,0.8) ;   
$background-opacity-color: rgba(33, 204, 181,0.9) ;   
$accent-color            : #fc7654;  
$accent-opacity-color    : rgba(252,118,84,.9);  
$night                   : #15276E;
$dark-night              : #000052;

$info-color              : #00abdf;
$warning-color           : #ffc920;
$default-color           : #fff;
$danger-color            : #ff663d;
$neutral-background-color: #F6F6F7;
// $neutral-primary-color   : #A7A7A7;
$neutral-primary-color   : rgb(224, 224, 224);
$neutral-secondary-color : #636363;
$dark-color              : #232323;

$ira-bg-color-80         : rgba(10, 22, 78,.8);
$ira-bg-color            : #0a164e;
$box-shadow-30           : 0px 5px 10px 2px rgba(0,0,0,0.3);
$box-accent-shadow       : 0 0 3px 0 #fc7654;
$nav-shadow              : 0px 2px 5px 1px rgba(0,0,0,0.5);

$white-opacity:            rgba(255, 255, 255,.4);
$text-shadow:              1px 1px 0 $white-opacity, 1px -1px 0 $white-opacity, -1px 1px 0 $white-opacity, -1px -1px 0 $white-opacity, 1px 0px 0 $white-opacity, 0px 1px 0 $white-opacity, -1px 0px 0 $white-opacity, 0px -1px 0 $white-opacity;