// $mainFont                : 'Open Sans', sans-serif;
$mainFont                : 'UbuntuRegular', sans-serif;
$iconicFont                : 'Material-Design-Iconic-Font';
// $mainFont                :  sans-serif;
// $secondaryFont           : 'BebasNeue Regular', sans-serif;

$primary-color           : #0cbcd3; 

$primary-color           : #6C6F90;
// $primary-color           : #15276E;
          
$secondary-color         : #1d85b6; 
$primary-background-color: #E8E8EE ;     
$background-dark-color   : #6C6F90 ;     
$background-opacity-color: rgba(108,111,144,0.8) ;   
$accent-color            : #fc7654;  
$accent-opacity-color    : rgba(252,118,84,.9);  
$night                   : #15276E;
$dark-night              : #000052;

$info-color              : #00abdf;
$warning-color           : #ffc920;
$default-color           : #fff;
$danger-color            : #ff663d;
$neutral-background-color: #F6F6F7;
$neutral-primary-color   : #A7A7A7;
$neutral-secondary-color : #636363;
$dark-color              : #232323;