@import "../../assets/scss/utils/vars.scss";

// .logo {
//     max-height: 100%;
//     display: block;
//     // height: 260px;
//     // padding: 20px;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     // path {
//     //     fill: $ira-bg-color;
//     // }
// }
.logo {
    // height: 50px;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // text-align: center;
    text-decoration: none;
    // color: #000;
    cursor: pointer;
    // border: 1px solid red;
    align-items: stretch;
}

.logo__img-container {
    // width: 70px;
    // height: 70px;
    // flex: 0 0 70px;
    // border: 1px solid red;
    width: 30px;
    height: 30px;
    flex: 0 0 30px;

    @media (min-width: 576px) {
        width: 50px;
        height: 50px;
        flex-basis: 50px;
    }
    
    @media (min-width: 992px) {
        width: 70px;
        height: 70px;
        flex-basis: 70px;
    }
}

.logo__img {
    max-width: 100%;
    max-height: 100%;
    // object-fit: contain;
}

.logo__text {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 0px 6px 7px #000;
    // height: 100%;
    // border: 1px solid red;

    @media (min-width: 576px) {
        padding-left: 20px;
    }
}

.logo__title {
    color: $default-color;
    line-height: 1.2;
    text-transform: uppercase;
    
    font-size: 0.8em;
    letter-spacing: 0.16em;

    span {
        font-size: 0.6em;
        letter-spacing: .1em;
        // @media (min-width: 576px) {
        //     font-size: 0.8em;
        //     letter-spacing: .1em;
        // }
        
        // @media (min-width: 992px) {
        //     font-size: .8em;
        //     letter-spacing: .1em;
        // }
    }
    
    @media (min-width: 576px) {
        font-size: 1.2em;
        letter-spacing: .2em;
    }
    
    @media (min-width: 992px) {
        font-size: 1.7em;

    }

}

// .logo__title-main {
//     text-transform: uppercase;
//     font-weight: bold;
//     letter-spacing: .09em;
// }

.logo__subtitle {
    // line-height: 1.7;
    color: $primary-color;
    white-space: nowrap;
    
    
    text-transform: uppercase;

    font-size: .7em;
    letter-spacing: 0.1em;

    @media (min-width: 576px) {
        font-size: 1em;
        letter-spacing: .15em;
    }
    
    @media (min-width: 992px) {
        font-size: 1.4em;

    }
}

