@import "../../assets/scss/utils/vars.scss";

.table-prices-head {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    @media(min-width: 768px) {
        height: 180px;
        flex-direction: row;
    }
}

.table-prices-head__blocks {
    // flex: 1 1 50%;
    // border: 1px solid red;
    // position: absolute;
    display: flex;
    background-color: $neutral-background-color;
    flex-wrap: wrap;
    @media(min-width: 768px) {
        flex-wrap: nowrap;
    }
}



.table-prices-head__blocks-item,
.table-prices-head__blocks-item-main {
    display: flex;
    align-items: center;
    background-color: $neutral-primary-color;
    position: relative;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:after, &:before {
        display: block;
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;

        border-left: calc((50vw - 15px) / 3) solid rgba(0, 0, 0, 0);
        border-right: calc((50vw - 15px) / 3) solid rgba(0, 0, 0, 0);
        border-top: 20px solid $neutral-primary-color;
        // border-left: 20px solid $neutral-primary-color;
        // border-top: 90px solid transparent;
        // border-bottom: 90px solid transparent;
        z-index: 10;
        height: 0;
        transition: all .4s ease;
        @media(min-width: 768px) {
            top: 0;
            left: 100%;
            bottom: 0;
            right: auto;
            border-left: 20px solid $neutral-primary-color;
            border-top: 90px solid transparent;
            border-bottom: 90px solid transparent;
            border-right: 0;
        }
    }
    &:before {
        display: none;
        @media(min-width: 768px) {
            display: block;
            left: calc(100% + 1px);
            border-left: 20px solid $default-color;
            z-index: 9;
        }
    }

    // @media(min-width: 768px) {
    //     &:after, &:before {
    //         border-left: 20px solid $neutral-primary-color;
    //         border-top: 90px solid transparent;
    //         border-bottom: 90px solid transparent;
    //     }
    // }
    
    
}

.table-prices-head__blocks-item-main {
    color: $default-color;
    background-color: $secondary-color;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    &:after {
        border-left: calc((50vw - 15px) ) solid rgba(0, 0, 0, 0);
        border-right: calc((50vw - 15px) ) solid rgba(0, 0, 0, 0);
        border-top: 20px solid $secondary-color;
        // border-left-color: $secondary-color;
        @media(min-width: 768px) {
            border-left-color: $secondary-color;
        }
    }

    flex: 1 0 100%;
    @media(min-width: 768px) {
        // padding-top: 20px;
        flex: 0 1 auto;
    }
}

.table-prices-head__blocks-item {
    cursor: pointer;
    
    padding-top: 20px;
    color: $neutral-secondary-color;
    font-size: 2em;
    transition: all .4s ease;
    display: flex;
    justify-content: center;

    &--active {
        color: $secondary-color;
        background-color: $primary-color;
        &:after {
            border-top-color: $primary-color;
            @media(min-width: 768px) {
                border-top-color: transparent;
                border-left-color: $primary-color;
            }
        }
    }

    flex: 1 0 33.3333%;
    @media(min-width: 768px) {
        padding-left: 40px;
        padding-right: 10px;
        padding-top: 0;
        flex: 0 1 auto;
    }
}

.table-prices-head__desc {
    flex: 1;
    overflow: hidden;
    background-color: $neutral-background-color;
}
.table-prices-head__desc-wrapper {
    display: flex;
    transition: transform .4s ease;
    &--1 {
        transform: translateX(0);
        .table-prices-head__desc-item--1 {
            opacity: 1;
            transition: opacity .4s ease .2s;
        }
    }
    &--2 {
        transform: translateX(-100%);
        .table-prices-head__desc-item--2 {
            opacity: 1;
            transition: opacity .4s ease .2s;
        }
    }
    &--3 {
        transform: translateX(-200%);
        .table-prices-head__desc-item--3 {
            opacity: 1;
            transition: opacity .4s ease .2s;
        }
    }
}
.table-prices-head__desc-item {
    flex: 1 0 100%;
    
    // padding: 20px;
    // padding-top: 40px;
    padding: 40px 20px 20px;
    opacity: 0;
    transition: opacity .4s ease;
    @media(min-width: 768px) {
        // padding-left: 40px;
        // padding-top: 20px;
        padding: 10px 10px 10px 40px;
    }

    @media(min-width: 820px) {
        padding: 20px 20px 20px 40px;
    }
}