.table-prices(data-table-price-wrapper)
    .table-prices__head
        .table-prices-head
            .table-prices-head__blocks
                .table-prices-head__blocks-item-main Выбрать категорию
                .table-prices-head__blocks-item.table-prices-head__blocks-item--active(data-table-price="1") 1
                .table-prices-head__blocks-item(data-table-price="2") 2
                .table-prices-head__blocks-item(data-table-price="3") 3
            .table-prices-head__desc
                .table-prices-head__desc-wrapper.table-prices-head__desc-wrapper--1(data-table-desc-wrapper)
                    .table-prices-head__desc-item.table-prices-head__desc-item--1 1-я категория: изделия с дефектами, неполные изделия, части изделий, изделия с нечитаемыми клеймами, импортными клеймами, зубное золото.
                    .table-prices-head__desc-item.table-prices-head__desc-item--2 2-я категория: изделия не требующие ремонта, годные к продаже. Без дефектов, с низкой степенью износа, без износа. Отечественного производства (особенно СССР), имеющие полное клеймение. Импортного производства, имеющие клеймо российской пробирной инспекции. Классический дизайн.
                    .table-prices-head__desc-item.table-prices-head__desc-item--3 3-я категория: изделия с бриллиантами, не требующие ремонта, годные к продаже. Без дефектов, с низкой степенью износа, без износа. Классический дизайн. Отечественного производства, имеющие полное клеймение. Импортного производства, имеющие клеймо российской пробирной инспекции.
    .table-prices__main
        .table-prices-grid
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })
            .table-prices-grid__item
                +tableItem({
                    name: "Золото",
                    sample: "375",
                    price1: "1288",
                    price2: "1326",
                    price3: "1401",
                })