.product
    .product__images-wrapper
        include ../img-slider/img-slider
    .product__desc-wrapper 
        .product-desc(toggle-wrapper)
            h1.product-desc__title Portofino Chronograph IW378303
            h3.product-desc__price 210 000 ₽
            .product-desc__category
                .product-desc__category-title Категория:
                .product-desc__category-text Мужские
            .product-desc__toggle
                .product-desc__toggle-item.product-desc__toggle-item--active(data-product-toggle-desc) Описание
                .product-desc__toggle-item(data-product-toggle-info) Информация
            .product-desc__desc(data-product-desc-wrap)
                .product-desc__desc-cont
                    .product-desc__desc-list
                        .product-list
                            .product-list__item
                                .product-list__item-title Материал
                                .product-list__item-text Сталь
                            .product-list__item
                                .product-list__item-title Размер
                                .product-list__item-text 41
                            .product-list__item
                                .product-list__item-title Тип калибра
                                .product-list__item-text механические с автоподзаводом
                            .product-list__item
                                .product-list__item-title Функции
                                .product-list__item-text часы, минуты, секунды, дата, день недели, хронограф
                    .product-desc__info Консультация оценщика эксклюзивных ювелирных изделий и элитных часов по тел. 8(905) 123-45-67 и по эл. почте lombard@mail.ru.