mixin article-link(options)
    .article-link
        .article-link__title #{options.title}
        .article-link__desc #{options.desc}
        .article-link__bottom
            .article-link__button
                +button({
                    color: "accent",
                    text: "Подробнее",
                    href: "#"
                })
    