.articles {
    display: flex;
    flex-wrap: wrap;
}

.articles__item {
    flex: 0 1 100%;
    padding: 10px;
    display: flex;

    @media(min-width: 768px) {
        flex: 0 1 50%;
    }
    @media(min-width: 992px) {
        flex: 0 1 33.3333%;
    }
    @media(min-width: 1200px) {
        flex: 0 1 25%;
    }

}