.page__split {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
    }

    &--left-aside {
        .page__split-left {
            flex: 0 1 30%;
            min-width: 200px;
        }
        .page__split-rigth {
            flex: 0 1 70%;
        }
    }
}

.page__split-left {
    flex: 0 1 50%;
    // padding: 0 15px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 15px;
}

.page__split-rigth {
    // padding: 0 15px;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 15px;
    min-height: 350px;
    flex: 0 1 50%;
    height: 1px;
    @media (min-width: 768px) {
        height: auto;
    }
}

.page__desc {
    line-height: 1.5;
    padding: 0 15px;
}
.fw-bold {
    font-weight: bold;
}
.page__title {
    text-align: center;
    font-size: 2.3em;
    padding-top: 60px;
    // padding-bottom: 15px;
    font-weight: 400;
    color: $accent-color;
}
.page__row {
    padding-top: 30px;
    padding-bottom: 30px;
}
.page__wide-block {
    min-height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.w-50 {
    max-width: 50%;
}
.info-cards__item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-cards__item:nth-child(even) {
    .info-main-block__text {
        order: 1;
    }
}