@import "../../assets/scss/utils/vars.scss";

.calculator {
    // background-color: $background-dark-color;
    background-color: $ira-bg-color-80;
    color: $default-color;

    &--jewelry {
        .calculator__input-item--money {
            display: none;
        }
    }
    &--else {
        .calculator__input-item--weight,
        .calculator__input-item--sample {
            display: none;
        }
    }
}

.calculator__title {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 2em;
    color: $default-color;
}

.calculator__top {
    display: flex;
}
.calculator__inputs {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.calculator__input-item {
    padding-top: 15px;
    padding-bottom: 15px;
    flex: 1;

    &--period {
        flex: 3;
    }

    input, select {
        height: 45px;
    }
}

.calculator__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

// .calculator__button {
//     // max-width: 200px;
// }