@import "../../assets/scss/utils/vars.scss";

.calculator {
    background-color: $primary-background-color;
}

.calculator__top {
    display: flex;
}
.calculator__inputs {
    flex-grow: 1;
    padding: 20px;
}

.calculator__input-item {
    padding-top: 15px;
    padding-bottom: 15px;
}