.calculator
    .calculator__title Калькулятор займа
    .calculator__main
        .calculator__top
            .calculator__inputs
                .calculator__input-item
                    +labelInput({ 
                        title: "Вес изделия:",
                        innerText: "гр."
                        }) 
                .calculator__input-item
                    +labelInput({ 
                        title: "Проба:",
                        select: ["585", "750", "999"]
                    }) 
                .calculator__input-item
                    +labelInput({ 
                        title: "Срок займа:",
                        select: [
                            "10 дней",
                            "20 дней",
                            "30 дней",
                            "40 дней",
                            "50 дней",
                            "60 дней",
                            "70 дней",
                            "80 дней",
                            "90 дней",
                        ] 
                        }) 
            .calculator__inputs
                .calculator__input-item
                    +labelInput({ 
                        title: "Сумма к получению:",
                        innerText: "руб."
                        }) 
                .calculator__input-item
                    +labelInput({
                        title: "Ежедневный платёж:",
                        innerText: "руб."
                        }) 
                .calculator__input-item
                    +labelInput({ 
                        title: "Платёж за весь срок займа:",
                        innerText: "руб."
                        }) 
        .calculator__bottom
            .calculator__button
                +button({text: "Оставить заявку"})

