//- - var calculatorClass = 'calculator--else'
//- - var calculatorClass = 'calculator--jewelry'
//- - var calculatorClass = 'calculator--buyup'

- var buttonText = "Оставить заявку"
- if(calculatorClass=='calculator--buyup'){buttonText="Рассчитать"}


.calculator(class=calculatorClass)
    .calculator__title Калькулятор займа
    .calculator__main
        .calculator__top
            .calculator__inputs
                .calculator__input-item.calculator__input-item--weight
                    +labelInput({ 
                        title: "Вес изделия:",
                        innerText: "гр.",
                        type: "number"
                        })(data-input-weight)
                .calculator__input-item.calculator__input-item--sample
                    +labelInput({ 
                        title: "Проба:",
                        select: ["585", "750", "999"]
                    }) 
                .calculator__input-item.calculator__input-item--money
                    +labelInput({ 
                        title: "Сумма займа:",
                        innerText: "руб."
                        })
                .calculator__input-item.calculator__input-item--period
                    +labelInput({ 
                        title: "Срок займа:",
                        select: [
                            "10 дней",
                            "20 дней",
                            "30 дней",
                            "40 дней",
                            "50 дней",
                            "60 дней",
                            "70 дней",
                            "80 дней",
                            "90 дней",
                        ] 
                        })
            .calculator__inputs
                .calculator__input-item
                    +labelInput({ 
                        title: "Сумма к получению:",
                        innerText: "руб.",
                        readonly: "readonly"
                        })(data-input-summ) 
                .calculator__input-item.calculator__input-item--daily
                    +labelInput({
                        title: "Ежедневный платёж:",
                        innerText: "руб."
                        }) 
                .calculator__input-item.calculator__input-item--total
                    +labelInput({ 
                        title: "Платёж за весь срок займа:",
                        innerText: "руб."
                        }) 
        .calculator__bottom
            .calculator__button
                +button({text: buttonText})

