include ../../blocks/blocks-row/blocks-row.pug
include ../../blocks/card-link/card-link.pug
include ../../blocks/banner/banner.pug
include ../../blocks/input/input.pug
include ../../blocks/textarea/textarea.pug
include ../../blocks/checkbox/checkbox.pug
include ../../blocks/button/button.pug
include ../../blocks/dropdown-desc/dropdown-desc.pug
include ../../blocks/calc-item/calc-item.pug
include ../../blocks/conditions-card/conditions-card.pug
include ../../blocks/info-main-block/info-main-block.pug
include ../../blocks/contact-card/contact-card.pug