@import "../../assets/scss/utils/vars.scss";

.menu {
    background-color: $primary-color;
    position: relative;
    
    @media(max-width: 767px) {
        height: 75px;
        overflow: hidden;
        padding-top: 75px;
        transition: all .4s ease;
    }

    &--open {
        @media(max-width: 767px) {
            height: auto;
            padding-top: 75px;

            .menu-item {
                align-items: start;
            }

            .menu-item__link {
                justify-content: start;
            }

            .menu-item__inner-list {
                padding-left: 40px;
                height: auto;
                opacity: 1;
                position: static;
                box-shadow: none;
            }
        }    
    }
}

.menu__icon {
    position: absolute;
    top: 15px;
    right: 15px;
    // height: 30px;
    // width: 30px;
    padding: 5px 10px;
    // border-radius: 5px;
    // border: 1px solid $default-color;
    cursor: pointer;
    color: $default-color;
    i {
        font-size: 36px;
    }

    @media(min-width: 768px) {
        display: none;
    } 
}

.menu__container {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;

    @media(min-width: 768px) {
        flex-direction: row;
    }


}
.menu__item {
    // border: 1px solid red;
    flex: 1;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    cursor: pointer;

    &:hover {
        .menu-item__link {
            // background-color: $secondary-color;
            background-color: $ira-bg-color-80;
        }
        .menu-item__inner-list {
            // display: block;
            height: auto;
            opacity: 1;
        }
    }
}
.menu-item__link {
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    font-family: $mainFont;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $default-color;
    background-color: $primary-color;
    transition: all .4s ease;

}

.menu-item__inner-list {
    list-style-type: none;
    padding: 0px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $primary-color;
    height: 0;
    opacity: 0;
    transition: opacity .4s ease;
    overflow: hidden;
    z-index: 100;
    box-shadow: 0px 5px 10px 2px $box-shadow-30;
}

.menu-item__inner-item  {
    
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s ease;
    &:hover {
        // background-color: $secondary-color;
        background-color: $ira-bg-color-80;
    }
}

.menu-item__inner-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: $default-color;
    font-family: $mainFont;
}