section.menu
    .container
        ul.menu__container
            li.menu__item
                .menu-item
                    a.menu-item__link(href="#") О компании
                    ul.menu-item__inner-list
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") О компании
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Блог 
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Вакансии
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Полезные статьи
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Информация
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Акции
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Новости
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Каталог услуг
            li.menu__item
                .menu-item
                    a.menu-item__link(href="#") Контакты
            li.menu__item
                .menu-item
                    a.menu-item__link(href="#") Мы принимаем в залог
                    ul.menu-item__inner-list
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Золото, бриллианты и серебро
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Автоломбард
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Часы
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Шубы
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Монеты
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Электроника
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Недвижимость
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Прочее
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="#") Скупка золота, серебра, ювелирных украшений
            li.menu__item
                .menu-item
                    a.menu-item__link(href="#") Скупка
            li.menu__item
                .menu-item
                    a.menu-item__link(href="#") Изделия в продаже
