nav.menu(data-header-menu)
    .menu__icon(data-header-menu-icon)
        i.zmdi.zmdi-menu
    .container
        ul#nav.menu__container
            li.menu-item.menu-item-has-children
                a(href="about.html") О компании
                ul.sub-menu
                    li.menu-item
                        a(href="blog.html") Блог
                    li.menu-item
                        a(href="vacancy.html") Вакансии
                    li.menu-item
                        a(href="articles.html") Полезные статьи
                    li.menu-item
                        a(href="information.html") Информация
                    li.menu-item
                        a(href="discount.html") Акции
                    li.menu-item
                        a(href="news.html") Новости
                    li.menu-item
                        a(href="services.html") Каталог услуг
            li.menu-item
                a(href="contacts.html") Контакты
            li.menu-item.menu-item-has-children
                a(href="pledge.html") Мы принимаем в залог
                ul.sub-menu
                    li.menu-item
                        a(href="jewelry.html") Золото, бриллианты и серебро
                    li.menu-item
                        a(href="auto.html") Автоломбард
                    li.menu-item
                        a(href="watch.html") Часы
                    li.menu-item
                        a(href="electronics.html") Электроника
                    li.menu-item
                        a(href="real-estate.html") Недвижимость
                    li.menu-item
                        a(href="etc.html") Прочее
                    li.menu-item
                        a(href="buyup.html") Скупка золота, серебра, ювелирных украшений
            li.menu-item
                a(href="buyup.html") Скупка
            li.menu-item
                a(href="onsale.html") Изделия в продаже
