section.menu(data-header-menu)
    .menu__icon
        i.zmdi.zmdi-menu
    .container
        ul.menu__container
            li.menu__item
                .menu-item
                    a.menu-item__link(href="about.html") О компании
                    ul.menu-item__inner-list
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="about.html") О компании
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="blog.html") Блог 
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="vacancy.html") Вакансии
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="articles.html") Полезные статьи
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="information.html") Информация
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="discount.html") Акции
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="news.html") Новости
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="services.html") Каталог услуг
            li.menu__item
                .menu-item
                    a.menu-item__link(href="contacts.html") Контакты
            li.menu__item
                .menu-item
                    a.menu-item__link(href="pledge.html") Мы принимаем в залог
                    ul.menu-item__inner-list
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="jewelry.html") Золото, бриллианты и серебро
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="auto.html") Автоломбард
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="watch.html") Часы
                        //- li.menu-item__inner-item 
                        //-     a.menu-item__inner-link(href="#") Шубы
                        //- li.menu-item__inner-item 
                        //-     a.menu-item__inner-link(href="#") Монеты
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="electronics.html") Электроника
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="real-estate.html") Недвижимость
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="etc.html") Прочее
                        li.menu-item__inner-item 
                            a.menu-item__inner-link(href="buyup.html") Скупка золота, серебра, ювелирных украшений
            li.menu__item
                .menu-item
                    a.menu-item__link(href="buyup.html") Скупка
            li.menu__item
                .menu-item
                    a.menu-item__link(href="onsale.html") Изделия в продаже
