header.header.container
    a.header__logo(href="index.html") 
        .header__logo-img
            include ../logo/logo.pug
        .header__title Ломбард
    .header__center РАБОТАЕМ: С 8-20 ЧАСОВ
    .header__phone 8-800-123-45-67