@import "../../assets/scss/utils/vars.scss";

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    width: 100%;
}

.header__logo {
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.header__logo-img {
    width: 50px;
}