@import "../../assets/scss/utils/vars.scss";

.header {
    background-color: $background-secondary-color;
}

.header__container {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    // border: 1px solid red;
    align-items: stretch;
    flex-direction: column;

    @media(min-width: 768px) {
        flex-direction: row;
    }
}



// .header__logo {
    // padding: 10px 0;


// }

.header__center {
    padding: 10px 0;
}

.header__phone {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    flex-direction: column;
    @media (max-width: 575px) {
        display: none;
    }
    
    @media (min-width: 576px) and (max-width: 767px) {
        flex-direction: row;
        align-items: center;
        margin-left: 70px;
    }
    
    @media (min-width: 768px) {
        flex: 0 0 220px;
        flex-direction: column;
        padding-top: 0;
        margin-left: 0;
        align-items: flex-start;
    }
}

.header__number {
    @media (min-width: 576px) and (max-width: 767px) {
    order: 1;
    flex: 0 0 220px;

    }
}
.header__time {
    
    @media (min-width: 576px) and (max-width: 767px) {
        flex: 1;
    }
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;

    @media (min-width: 576px) {
        flex-direction: row;
    }
}

.header__item {
    min-width: 190px;
    position: relative;
    display: flex;
    color: $default-color;
    
    padding-top: 5px;
    padding-bottom: 5px;
    
    &-icon {
        text-align: center;
        flex: 0 0 20px;
        // width: 40px;
        padding-right: 10px;
        display: block;
        font-family: $iconicFont;
        font-size: 1.5em;
        color: $default-color;
        // color: $accent-color;
        align-self: flex-start;
    }
    
    &-text {
        line-height: 1.5;
        // color: $default-color;
        &--link {
            color: $default-color;
            border-bottom: 1px solid $default-color;
            cursor: pointer;
        }
    }

    &--left {
        
        @media (min-width: 576px) {
            margin-left: 70px;
        }
        
        @media (min-width: 992px) {
            margin-left: 90px;
            
        }
    }

    &--right {
        
        @media (min-width: 576px) {
            flex: 0 0 220px;
        }
    }
    a {
        text-decoration: none;
        color: inherit;
        border-bottom: 1px solid $default-color;
    }
    @media (min-width: 768px) {
        align-items: center;
    }
}

.header__number {
    font-size: 24px;
    color: $default-color;
    font-weight: bold;
}

.header__time {
    color: $default-color;
}

